<div class="form-group pb-0 pt-1">
    <label class="d-block" for="feedbackConfig-input">Feedback Questions</label>
    <div class="my-2 p-1 badge badge-warning">DEPRECATED</div>
    <textarea rows="11" type="text" class="form-control font-fixed-width" id="feedbackConfig-input"
        name="feedbackConfig" [(ngModel)]="boundYaml" [placeholder]="sampleConfig" [readOnly]="true"
        [disabled]="true"></textarea>

    <div class="d-flex align-items-center mt-3">
        <button *ngIf="feedbackConfig" type="button" class="btn btn-success ml-2 flex-basis-50"
            [appCopyOnClick]="boundYaml">
            Copy Deprecated Template to Clipboard
        </button>
    </div>
</div>
