@import "../../../../scss/variables";

.big-stat-component {
  padding: 4px 0;
}

.value {
  font-size: 4rem;
  font-weight: bold;
  line-height: 4.2rem;
}

.stat-button .value {
  line-height: unset;
}

.stat-button {
  cursor: pointer;

  .value span {
    border-bottom: dotted 3px $info;
  }
}

.label {
  padding: 0 !important;
}
