@import "../../../../../scss/variables";

label {
  margin-bottom: 0;
}

.dropzone {
  height: 360px;
  width: 252px;
}

.dropzone-target {
  border: dashed 1px $foreground;
  display: flex;
  justify-content: center;
}

.section-header {
  font-weight: 300;
  cursor: pointer;

  span {
    font-size: 2rem;
  }
}

.section {
  margin-bottom: 2rem;
}

.cert-info {
  font-size: 87.5%;
}

.help-text {
  font-style: italic;
  font-size: 0.8em;
  margin-top: 0.5rem;
}
