@use "sass:color";
@import "theme/theme";

label {
  font-size: 1rem !important;
  margin-bottom: 0;
}

.small-spinner {
  width: 32px;
  height: 32px;
}

.incorrect {
  background-color: color.adjust($warning, $lightness: 5%);
  color: $body-bg;
}

.no-wrap {
  white-space: nowrap;
}
