<div class="game-editor-challenge-spec-config-component container" *ngIf="spec && scoringConfig">
    <div class="card full-width">
        <div class="card-body">
            <h5 class="card-title">{{spec.name}}</h5>
            <div class="card-text">
                <hr />
                <div class="form-group form-check pb-0 pt-1">
                    <input type="checkbox" class="form-check-input" id="disabled-input-{{spec.id}}" name="disabled"
                        [(ngModel)]="spec.disabled" (ngModelChange)="handleModelUpdated(spec)">
                    <label for="disabled-input-{{spec.id}}">Disabled</label>
                </div>
            </div>
            
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>{{spec.name}}</h4>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            
        </div>
    </div>
    <!-- <div class="col-1">
        
    </div>
    <div class="col-2">
        <div class="form-group pb-0 pt-1">
            <label for="slug-input-{{item.id}}">Support Key</label>
            <input type="text" class="form-control" id="slug-input-{{item.id}}" name="slug" [(ngModel)]="item.tag"
                (ngModelChange)="updating$.next(item)">
            <small></small>
        </div>
    </div>
    <div class="col-2">
        <div class="form-group pb-0 pt-1">
            <label for="points-input-{{item.id}}">Points</label>
            <input type="number" class="form-control" id="points-input-{{item.id}}" name="points" [(ngModel)]="item.points"
                (ngModelChange)="updating$.next(item)">
            <small></small>
        </div>
    </div> -->
    <div class="col-3">
        <app-confirm-button btnClass="btn btn-outline-danger" (confirm)="handleDeleteClick(spec)">
            <fa-icon [icon]="faService.trash"></fa-icon>
            <span>Delete</span>
        </app-confirm-button>
    </div>
</div>
