<div class="game-editor-challenge-spec-config-component bg-secondary" *ngIf="spec && scoringConfig">
    <div class="row align-items-center mx-0">
        <div class="col-4">
            <h4>{{spec.name}}</h4>
        </div>
        <div class="col-1">
            <div class="form-group form-check pb-0 pt-1">
                <input type="checkbox" class="form-check-input" id="disabled-input-{{spec.id}}" name="disabled"
                    [(ngModel)]="spec.disabled" (ngModelChange)="handleModelUpdated(spec)">
                <label for="disabled-input-{{spec.id}}">Disabled</label>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group pb-0 pt-1">
                <label for="slug-input-{{spec.id}}">Support Key</label>
                <input type="text" class="form-control" id="slug-input-{{spec.id}}" name="slug" [(ngModel)]="spec.tag"
                    (ngModelChange)="handleModelUpdated(spec)">
                <small></small>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group pb-0 pt-1">
                <label for="points-input-{{spec.id}}">Points</label>
                <input type="number" class="form-control" id="points-input-{{spec.id}}" name="points"
                    [(ngModel)]="spec.points" (ngModelChange)="handleModelUpdated(spec)">
                <small></small>
            </div>
        </div>
        <div class="col-3">
            <app-confirm-button btnClass="btn btn-danger" (confirm)="handleDeleteClick(spec)">
                <fa-icon [icon]="faService.trash"></fa-icon>
                <span>Delete</span>
            </app-confirm-button>
        </div>
    </div>
    <div class="row px-3 pb-2" *ngIf="scoringConfig.possibleBonuses.length">
        <div class="col">
            <hr class="light" />
            <h5>Automatic Bonuses</h5>

            <div class="bonuses-container mt-4">
                <ol>
                    <li *ngFor="let bonus of scoringConfig.possibleBonuses">
                        {{bonus.description}} ({{ bonus.pointValue }})
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
