<app-modal-content *ngIf="team" [title]="team.name" [subtitle]="game.name" [hideCancel]="true">
    <div *ngIf="team.advancement" class="advancement-container px-3">
        <h4 class="mt-4">Advancement</h4>
        <div class="d-flex">
            <div class="advancement-info flex-grow-1">
                <h6 class="text-muted">Advanced from</h6>
                <div>{{team.advancement.fromGame.name}}</div>
            </div>

            <div class="advancement-info flex-grow-1">
                <h6 class="text-muted">Score</h6>
                <div>{{team.advancement.score || 0}}</div>
            </div>
        </div>
    </div>

    <ng-container>
        <div class="mt-4 px-3">
            <h4>Team Management</h4>
            <table class="width-100">
                <col class="width-20">
                <col class="width-20">
                <col class="width-20">
                <col class="width-20">
                <col class="width-20">

                <thead>
                    <th>Name</th>
                    <th>Requested Name</th>
                    <th>Override Name</th>
                    <th>Status</th>
                    <th></th>
                </thead>

                <tbody>
                    <tr *ngFor="let player of team.players">
                        <td>{{ player.name }}</td>
                        <td>{{ player.pendingName || "--" }}</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Enter a name" #overrideName>
                        </td>
                        <td>
                            <select name="reason-select" class="form-control" #reasonSelect>
                                <option [value]="''">[approved]</option>
                                <option *ngFor="let reason of reasons" [value]="reason">
                                    {{reason}}
                                </option>
                            </select>
                        </td>
                        <td class="d-flex align-items-center justify-content-center">
                            <button type="button" class="btn btn-warning mr-2"
                                (click)="updateNameChangeRequest(player.id, overrideName.value, { requestedName: player.pendingName || '', approvedName: player.name || '', status: reasonSelect.value })">Update</button>

                            <button type="button" class="btn btn-danger"
                                [disabled]="team.players.length == 1 || (player.id === team.captain.id)"
                                (click)="handleRemovePlayerConfirm(player)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>

    <ng-container *ngIf="team.session.start">
        <h4 class="mt-4 px-3">Session</h4>
        <div class="form-group" *ngIf="!isExtending; else loading">
            <label class="mb-0" for="duration-input">Extend</label>
            <div class="input-group">
                <input id="duration-input" class="form-control" type="number"
                    placeholder="Extension duration (in minutes)" [(ngModel)]="durationExtensionInMinutes">
                <div class="input-group-append">
                    <button class="btn" [class.btn-success]="(durationExtensionInMinutes || 0) >= 0"
                        [class.btn-warning]="(durationExtensionInMinutes || 0) < 0"
                        [disabled]="!durationExtensionInMinutes" [ariaDisabled]="!durationExtensionInMinutes"
                        (click)="extendByDuration(team, durationExtensionInMinutes)">
                        <span>
                            {{ durationExtensionInMinutes && durationExtensionInMinutes < 0 ? "Shorten" : "Extend" }}
                                </span>
                    </button>
                </div>
            </div>
        </div>

        <h4 class="px-3 mr-1">Timeline</h4>
        <div class="timeline-container px-3 mb-4">
            <app-team-event-horizon [teamId]="team.id"></app-team-event-horizon>
        </div>
    </ng-container>

    <div class="other-tools-container mt-4">
        <h4 class="mb-2 px-3">Other tools</h4>

        <app-announce [teamId]="team.id" placeholderText="Your message (sends only to this player/team)"></app-announce>

        <div class="other-tools-buttons px-3">
            <button class="btn btn-success btn-sm mr-2" (click)="toggleRawView(!showChallengeYaml)">
                <fa-icon [icon]="fa.infoCircle"></fa-icon>
                <span>{{ (showChallengeYaml ? "Hide" : "View") }} Data</span>
            </button>

            <app-yaml-block *ngIf="showChallengeYaml && !isLoadingChallenges"
                [source]="teamChallenges"></app-yaml-block>
        </div>
    </div>
</app-modal-content>

<ng-template #loading>
    <div class="text-center">
        <app-spinner>Loading team data</app-spinner>
    </div>
</ng-template>

<ng-template *ngIf="isLoadingChallenges">
    <div class="yaml-container mt-4 ml-4 pb-4">
        <div class="text-center">
            <app-spinner></app-spinner>
        </div>
    </div>
</ng-template>
