<!-- <div class="row">
    <div class="form-group col-9">
        <label class="mb-0" for="name-input">Approved Name</label>
        <input id="name-input" class="form-control" type="text" [(ngModel)]="player.approvedName"
            (change)="update(player)">
    </div>

    <div class="form-group col-3">
        <label class="mb-0" for="reason-input">Disapproved Reason</label>
        <select name="reason-select" class="form-control" [(ngModel)]="player.nameStatus" (change)="update(player)">
            <option [ngValue]="''">[not disapproved]</option>
            <option *ngFor="let reason of reasons" [value]="reason">
                {{reason}}
            </option>
        </select>
    </div>
</div> -->
<app-modal-content *ngIf="team" [title]="team.name" [subtitle]="game.name" [hideCancel]="true">
    <div *ngIf="team.advancement" class="advancement-container px-3">
        <h4 class="mt-4">Advancement</h4>
        <div class="d-flex justify-content-between">
            <div class="advancement-info">
                <h6>Advanced from</h6>
                <div>{{team.advancement.fromGame.name}}</div>
            </div>

            <div class="advancement-info">
                <h6>Score</h6>
                <div>{{team.advancement.score || 0}}</div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="team.session.start">
        <h4 class="mt-4 px-3">Session Extension</h4>
        <div class="form-group" *ngIf="!isExtending; else loading">
            <label class="mb-0" for="duration-input">By Duration</label>
            <div class="input-group">
                <input id="duration-input" class="form-control" type="number"
                    placeholder="Extension length (in minutes)" [(ngModel)]="durationExtensionInMinutes">
                <div class="input-group-append">
                    <button class="btn" [class.btn-info]="(durationExtensionInMinutes || 0) >= 0"
                        [class.btn-warning]="(durationExtensionInMinutes || 0) < 0"
                        [disabled]="!durationExtensionInMinutes" [ariaDisabled]="!durationExtensionInMinutes"
                        (click)="extendByDuration(team, durationExtensionInMinutes)">
                        <span>{{ durationExtensionInMinutes && durationExtensionInMinutes < 0 ? "Shorten" : "Extend"
                                }}</span>
                    </button>
                </div>
            </div>
        </div>

        <h4 class="px-3">Timeline</h4>
        <div class="timeline-container px-3 mb-4">
            <app-team-event-horizon [teamId]="team.id"></app-team-event-horizon>
        </div>
    </ng-container>

    <!-- <app-admin-player-session [player]="player" (onUnenrollRequest)="unenroll(player)"></app-admin-player-session> -->

    <div class="other-tools-container mb-2">
        <h4 class="mb-2 px-3">Other tools</h4>

        <app-announce [teamId]="team.id" placeholderText="Your message (sends only to this player/team)"></app-announce>

        <div class="other-tools-buttons px-3">
            <button class="btn btn-info btn-sm mr-2" (click)="toggleRawView(!showChallengeYaml)">
                <fa-icon [icon]="fa.infoCircle"></fa-icon>
                <span>{{ (showChallengeYaml ? "Hide" : "View") }} Data</span>
            </button>

            <app-yaml-block *ngIf="showChallengeYaml && !isLoadingChallenges" [source]="team"></app-yaml-block>
        </div>
    </div>
</app-modal-content>

<ng-template #loading>
    <div class="text-center">
        <app-spinner>Loading team data</app-spinner>
    </div>
</ng-template>

<ng-template *ngIf="isLoadingChallenges">
    <div class="yaml-container mt-4 ml-4 pb-4">
        <div class="text-center">
            <app-spinner></app-spinner>
        </div>
    </div>
</ng-template>
