<app-modal-content *ngIf="team" [title]="team.name" [subtitle]="game.name" [hideCancel]="true">
    <div *ngIf="team.advancement" class="advancement-container px-3">
        <h4 class="mt-4">Advancement</h4>
        <div class="d-flex justify-content-between">
            <div class="advancement-info">
                <h6>Advanced from</h6>
                <div>{{team.advancement.fromGame.name}}</div>
            </div>

            <div class="advancement-info">
                <h6>Score</h6>
                <div>{{team.advancement.score || 0}}</div>
            </div>
        </div>
    </div>

    <ng-container>
        <h4 class="mt-4 px-3">Name Management</h4>
        <div class="name-management">
            <ul class="container mx-0">
                <li class="row">
                    <div class="col-3">
                        <label class="mb-0 text-muted">Current Name</label>
                    </div>
                    <div class="col-4">
                        <label class="mb-0 text-muted">Requested Name</label>
                    </div>
                    <div class="col-3">
                        <label class="mb-0 text-muted" for="reason-input">Reason for Change</label>
                    </div>
                </li>
                <li *ngFor="let player of team.players" class="row mb-2">
                    <div class="col-3">
                        <div class="fs-10 player-current-name">{{ player.name }}</div>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" name="pending-name-input-{{player.id}}" type="text"
                            [placeholder]="(player.pendingName ? 'Name this player (requested: ' + player.pendingName + ')' : 'No pending name change requests from this player')"
                            minlength="2" [value]="player.pendingName" #pendingNameInput>
                    </div>
                    <div class="col-3">
                        <select name="reason-select" class="form-control" #reasonSelect>
                            <option [value]="''">[not disapproved]</option>
                            <option *ngFor="let reason of reasons" [value]="reason">
                                {{reason}}
                            </option>
                        </select>
                    </div>
                    <div>
                        <button type="button" class="btn btn-warning" [disabled]="pendingNameInput.value.length < 2"
                            (click)="approveName(player.id, { name: pendingNameInput.value, revisionReason: reasonSelect.value })">Approve</button>
                    </div>
                </li>
            </ul>
        </div>
    </ng-container>

    <ng-container *ngIf="team.session.start">
        <h4 class="mt-4 px-3">Session</h4>
        <div class="form-group" *ngIf="!isExtending; else loading">
            <label class="mb-0" for="duration-input">Extend</label>
            <div class="input-group">
                <input id="duration-input" class="form-control" type="number"
                    placeholder="Extension duration (in minutes)" [(ngModel)]="durationExtensionInMinutes">
                <div class="input-group-append">
                    <button class="btn" [class.btn-success]="(durationExtensionInMinutes || 0) >= 0"
                        [class.btn-warning]="(durationExtensionInMinutes || 0) < 0"
                        [disabled]="!durationExtensionInMinutes" [ariaDisabled]="!durationExtensionInMinutes"
                        (click)="extendByDuration(team, durationExtensionInMinutes)">
                        <span>
                            {{ durationExtensionInMinutes && durationExtensionInMinutes < 0 ? "Shorten" : "Extend" }}
                                </span>
                    </button>
                </div>
            </div>
        </div>

        <h4 class="px-3 mr-1">Timeline</h4>
        <!-- <div class="d-flex align-items-baseline">
            
        </div> -->
        <div class="timeline-container px-3 mb-4">
            <app-team-event-horizon [teamId]="team.id"></app-team-event-horizon>
        </div>
    </ng-container>

    <div class="other-tools-container my-2">
        <h4 class="mb-2 px-3">Other tools</h4>

        <app-announce [teamId]="team.id" placeholderText="Your message (sends only to this player/team)"></app-announce>

        <div class="other-tools-buttons px-3">
            <button class="btn btn-success btn-sm mr-2" (click)="toggleRawView(!showChallengeYaml)">
                <fa-icon [icon]="fa.infoCircle"></fa-icon>
                <span>{{ (showChallengeYaml ? "Hide" : "View") }} Data</span>
            </button>

            <app-yaml-block *ngIf="showChallengeYaml && !isLoadingChallenges"
                [source]="teamChallenges"></app-yaml-block>
        </div>
    </div>
</app-modal-content>

<ng-template #loading>
    <div class="text-center">
        <app-spinner>Loading team data</app-spinner>
    </div>
</ng-template>

<ng-template *ngIf="isLoadingChallenges">
    <div class="yaml-container mt-4 ml-4 pb-4">
        <div class="text-center">
            <app-spinner></app-spinner>
        </div>
    </div>
</ng-template>
