hr {
    margin: 0;
}

table {
    border: solid 1px #dedede;

    td {
        vertical-align: middle;
    }
}

.challenge-count {
    font-size: 2rem;
}

.challenge-count-desc {
    font-weight: lighter;
}

.score {
    font-size: 2rem;
}

.team-rank {
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}
