hr {
  border: dashed 1px #eee;
}

table {
  border: solid 1px #dedede;

  td {
    vertical-align: middle;
  }
}

.challenge-count {
  font-size: 2rem;
}

.score {
  font-size: 2rem;
}

.tooltipped-column-header {
  text-decoration: underline dashed 1px #333;
}

.player-name {
  font-size: 2rem;
}

.team-name {
  font-size: 2rem;
}

.team-rank {
  font-size: 3rem;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
