<div class="user-api-keys-component">
    <app-error-div [errors]="errors"></app-error-div>

    <div *ngIf="(apiKeys$ | async) as apiKeys; else loading">
        <p *ngIf="!apiKeys.length">
            <em class="text-muted">This user doesn't have any API keys. You can add one using the form below.</em>
        </p>

        <alert type="success" *ngIf="visibleKey">
            <div class="alert-container">
                <div class="text-content">
                    <h6>You've got a new API key!</h6>
                    <p>The key is: <em class="visible-key">{{visibleKey}}</em></p>
                    <p>Be sure to record this somewhere safe; you'll never be able to view it again.</p>
                </div>
                <div class="buttons">
                    <button type="button" class="btn btn-secondary" (click)="copyKey(visibleKey)">
                        <fa-icon [icon]="copyIcon"></fa-icon>
                    </button>
                    <button type="button" class="btn btn-secondary ml-2" (click)="visibleKey = ''">
                        <fa-icon [icon]="closeIcon"></fa-icon>
                    </button>
                </div>
            </div>
        </alert>

        <table>
            <tr>
                <th>Key</th>
                <th>
                    <ng-container *ngIf="apiKeys.length">Issued on</ng-container>
                </th>
                <th>Expires on</th>
                <th></th>
            </tr>
            <tr *ngFor="let key of apiKeys || []">
                <td>
                    <span *ngIf="key.name else unnamedKey">{{key.name}}</span>
                    <ng-template #unnamedKey><em>Unnamed</em></ng-template>
                </td>
                <td>{{ key.generatedOn | shortdate }}</td>
                <td>
                    <span *ngIf="!!key.expiresOn; else noExpiresKey">{{key.expiresOn | shortdate}}</span>
                    <ng-template #noExpiresKey><em>Doesn't expire</em></ng-template>
                </td>
                <td>
                    <app-confirm-button btnClass="btn btn-danger" (confirm)="delete(key.id)">
                        <span>Delete</span>
                    </app-confirm-button>
                </td>
            </tr>
            <tr *ngIf="apiKeys.length">
                <td colspan="4">
                    <hr>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder=" Enter a name for your API key"
                        [(ngModel)]="newApiKey.name">
                </td>
                <td>
                    <span *ngIf="apiKeys.length" class="text-muted">--</span>
                </td>
                <td>
                    <div class="input-group">
                        <input type="datetime" placeholder="Leave blank for permanent access" [minDate]="minDate"
                            [(ngModel)]="newApiKey.expiresOn" class="form-control" bsDatepicker>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-success" (click)="newApiKey.expiresOn = undefined">
                                <fa-icon [icon]="clearIcon"></fa-icon>
                            </button>
                        </div>
                    </div>
                </td>
                <td>
                    <button type="button" (click)="create(newApiKey)" class="btn btn-md ml-1"
                        [class.btn-success]="!!newApiKey.name" [class.btn-outline-success]="!newApiKey.name"
                        [disabled]="!newApiKey.name">Add</button>
                </td>
            </tr>
        </table>
    </div>

    <ng-template #loading>
        <div class="text-center">
            <app-spinner></app-spinner>
        </div>
    </ng-template>
</div>
