<div class="user-api-keys-component">
    <app-error-div [errors]="errors"></app-error-div>

    <div *ngIf="(apiKeys$ | async) as apiKeys; else loading">
        <p *ngIf="!apiKeys.length">
            <em>This user doesn't have any API keys. You can add one using the form below.</em>
        </p>

        <table>
            <tr>
                <th>Key</th>
                <th>Issued on</th>
                <th>Expires on</th>
                <th></th>
            </tr>
            <tr *ngFor="let key of apiKeys || []">
                <td [innerHTML]="key.name || '<em>Unnamed</em>' | safeHtml"></td>
                <td>{{ key.generatedOn | shortdate }}</td>
                <td [innerHTML]="(key.expiresOn | shortdate) || '<em>Doesn\'t expire</em>'"></td>
                <td><button type="button" class="btn btn-danger">Delete</button></td>
            </tr>
            <tr *ngIf="apiKeys.length">
                <td colspan="4">
                    <hr>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder=" Enter a name for your API key"
                        [(ngModel)]="newApiKey.name">
                </td>
                <td>
                    <span>{{dummyGeneratedOn | shortdate}} @ {{dummyGeneratedOn | friendlyTime}}</span>
                </td>
                <td>
                    <input type="datetime" placeholder="Leave blank for permanent access"
                        [(ngModel)]="newApiKey.expiresOn" class="form-control" bsDatepicker>
                </td>
                <td>
                    <button type="button" (click)="create(newApiKey)" class="btn btn-md"
                        [class.btn-success]="!!newApiKey.name" [class.btn-outline-danger]="!newApiKey.name"
                        [disabled]="!newApiKey.name">Add</button>
                </td>
            </tr>
        </table>
    </div>

    <ng-template #loading>
        <app-spinner></app-spinner>
    </ng-template>
</div>
