<app-modal-content *ngIf="game" title="Add {{isTeamGame ? 'Team' : 'Player'}}" [subtitle]="game.name"
    (confirm)="handleAddClick()"
    [confirmDisabled]="selectedUsers.length === 0 || (!!game.minTeamSize && (selectedUsers.length < game.minTeamSize)) || (!!game.maxTeamSize && (selectedUsers.length > game.maxTeamSize))">
    <ng-container *ngIf="!isWorking; else loading">
        <app-error-div [errors]="errors"></app-error-div>
        <div class="input-group">
            <input [(ngModel)]="searchTerm" appAutofocus [typeahead]="typeaheadSearch$" [typeaheadAsync]="true"
                typeaheadOptionField="name" class="form-control" (typeaheadOnSelect)="handleTypeaheadSelect($event)"
                [typeaheadItemTemplate]="searchResultsTemplate" placeholder="Search by name or user ID">
            <div class="input-group-append">
                <span class="input-group-text"><fa-icon [icon]="fa.search"></fa-icon></span>
            </div>
        </div>

        <div class="selection-container">
            <ul class="selection-list d-flex flex-wrap">
                <li *ngFor="let user of selectedUsers" class="d-flex align-items-center mr-3 py-4 user-list-item">
                    <app-avatar-chip [avatarImageUrl]="user.sponsor | sponsorToLogoUri"
                        [avatarTooltip]="user.sponsor.name" (actionClick)="handleSelectedActionClick(user.id)"
                        actionTooltip="Remove this player">
                        <div class="fs-11">{{ user.name }}</div>
                        <div class="fs-08 link-button info-text" [appCopyOnClick]="user.id" tooltip="Copy this user ID"
                            placement="bottom">
                            {{ user.id | slice:0:8 }}
                        </div>
                    </app-avatar-chip>
                </li>
            </ul>
        </div>
    </ng-container>
</app-modal-content>

<ng-template #loading>
    <app-spinner></app-spinner>
</ng-template>

<ng-template #noResults class="text-center">
    <div class="text-center my-3">
        <em class="gray-text">Use the box above to search for the user(s) you want to enroll in this game.</em>
    </div>
</ng-template>

<ng-template #searchResultsTemplate let-user="item">
    <div class="d-flex align-items-center">
        <app-avatar class="mr-3" [imageUrl]="user.sponsor | sponsorToLogoUri" [tooltip]="user.sponsor.name"
            size="tiny"></app-avatar>
        <div class="user-info">
            <div>{{ user.name }}</div>
            <em class="gray-text fs-08">{{ user.id | slice:0:8}}</em>
        </div>
    </div>
</ng-template>
