<div class="jumbotron">
  <span class="display-4">{{appname}}</span>
</div>

<div class="container">

  <h1 class="mb-4">Practice Challenges</h1>

  <ng-container *ngIf="list$ | async as list; else loading">
    <div class="input-group input-group-sm col-5 ml-auto mb-2 pr-0">
      <app-share-button class="d-block mr-1" size="small" message="Copied a link to this search to your clipboard."
        tooltip="Copy a link to this search"></app-share-button>
      <div class="input-group-prepend">
        <span class="input-group-text">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
      </div>
      <input type="search" placeholder="search" class="form-control border-0" [value]="oneWayTerm"
        [autofocus]="!!oneWayTerm"
        [appQueryParamModel]="{ name: 'term', debounce: 500, resetQueryParams: ['skip', 'take'] }">
    </div>

    <app-pager [skip]="skip || 0" [take]="take || 0" [count]="count" (changed)="paged($event)"></app-pager>

    <table class="table">
      <thead>
        <tr>
          <th>Challenge</th>
          <th>Description</th>
          <th>Game</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of list">
          <td class="align-middle"><a [routerLink]="[c.id, slug(c.gameName), slug(c.name)]">{{c.name}}</a></td>
          <td class="align-middle">{{c.description}}</td>
          <td>
            <div class="d-flex align-items-center">
              <app-game-card-image [game]="{ id: c.gameId, name: c.gameName, logo: c.gameLogo }"
                width="32px"></app-game-card-image>
              <div class="ml-2">{{c.gameName}}</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <app-pager [skip]="skip || 0" [take]="take || 0" [count]="count" (changed)="paged($event)"></app-pager>
  </ng-container>
</div>

<ng-template #loading>
  <div class="text-center">
    <app-spinner></app-spinner>
  </div>
</ng-template>
