<div class="name-management">
    <ul class="container mx-0">
        <li class="row">
            <div class="col-3">
                <label class="mb-0">Current Name</label>
            </div>
            <div class="col-4">
                <label class="mb-0">Requested Name</label>
            </div>
            <div class="col-3">
                <label class="mb-0" for="reason-input">Reason for Change</label>
            </div>
        </li>
        <li *ngFor="let player of players" class="row mb-2">
            <div class="col-3">
                <div class="fs-10 player-current-name">{{ player.name }}</div>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" name="pending-name-input-{{player.id}}" type="text"
                    [placeholder]="(player.pendingName ? 'Name this player (requested: ' + player.pendingName + ')' : 'No pending name change requests from this player')"
                    minlength="2" [value]="player.pendingName" #pendingNameInput>
            </div>
            <div class="col-3">
                <select name="reason-select" class="form-control" #reasonSelect>
                    <option [value]="''">[not disapproved]</option>
                    <option *ngFor="let reason of reasons" [value]="reason">
                        {{reason}}
                    </option>
                </select>
            </div>
            <div>
                <button type="button" class="btn btn-warning" [disabled]="pendingNameInput.value.length < 2"
                    (click)="approveName(player, { name: pendingNameInput.value, revisionReason: reasonSelect.value })">Update</button>
            </div>
        </li>
    </ul>
</div>
