<div class="d-flex align-items-center" tabindex="0" (click)="toggleShow()">
  <fa-icon class="d-inline" [icon]="show ? faCaretDown : faCaretRight" size="lg"></fa-icon>
  <span>
    <h3 *ngIf="type == 'challenge'" class="d-inline">{{title}}</h3>
    <h2 *ngIf="type == 'game'" class="d-inline">{{title}}</h2>
  </span>
</div>

<form #form="ngForm" [ngFormOptions]="{updateOn: 'change'}" [hidden]="!show" class="pop-light p-4 mt-4">

</form>

<p [hidden]="show || !feedbackForm.submitted" class="p-4 text-center">
  Thank you for submitting feedback!
</p>
