app-game-card {
  cursor: pointer;
}

.group-count {
  font-size: 70%;
}
.group-badge {
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 2px;
}
.group-line {
  width: 90%;
  margin: auto;
  border-bottom: 2px solid;
}
