<div class="filters-container d-flex align-items-center mb-4">
    <input type="text" minlength="2" placeholder="Search players" [(ngModel)]="filterSettings.searchTerm"
        (input)="searchInput$.next(searchInput.value)" class="form-control d-block flex-grow-1" #searchInput>

    <select class="form-control ml-2" [ngModel]="filterSettings.sessionStatus"
        (ngModelChange)="handleSessionStatusChange($event)">
        <option [ngValue]="undefined">[Any status]</option>
        <option value="playing">Playing</option>
        <option value="notPlaying">Not playing</option>
    </select>

    <select [ngModel]="filterSettings.sort" (ngModelChange)="handleSortChange($event)" class="form-control ml-2">
        <option value="attemptCount">Sort by attempt count</option>
        <option value="name">Sort by name</option>
    </select>

    <ng-container *ngIf="filterSettings.sort != 'name' || filterSettings.sessionStatus || filterSettings.searchTerm">
        <button type="button" class="btn btn-warning ml-2" (click)="handleClearAllFilters()">Clear</button>
    </ng-container>
</div>

<ng-container *ngIf="!isLoading; else loading">
    <div *ngIf="ctx?.users?.length; else noUsers">
        <ul>
            <li *ngFor="let user of ctx!.users">
                <app-team-list-card [team]="teamCardContexts[user.id]" [hideRanks]="true" [allowSelection]="false"
                    (teamClicked)="handleUserDetailClick(user)">
                    <div primaryDetail>
                        {{ user.totalAttempts }} {{ "attempt" | pluralizer:user.totalAttempts }}
                        <div class="text-muted">
                            ({{ user.uniqueChallengeSpecs }} {{ "challenge" | pluralizer:user.uniqueChallengeSpecs }})
                        </div>
                    </div>
                    <div secondaryDetail *ngIf="user.activeChallenge">
                        Playing "{{ user.activeChallenge.name }}" now
                        <div class="badge badge-success">
                            <app-countdown [countdownTo]="user.activeChallengeEndTimestamp"></app-countdown>
                            remaining
                        </div>
                    </div>
                    <div contextMenu>
                        <app-game-center-practice-team-context-menu [user]="user" [game]="ctx?.game"
                            (teamDetailClick)="handleUserDetailClick($event)"></app-game-center-practice-team-context-menu>
                    </div>
                </app-team-list-card>
            </li>
        </ul>
    </div>
</ng-container>

<ng-template #loading>
    <app-spinner>Loading practice data...</app-spinner>
</ng-template>

<ng-template #noUsers>
    <div class="text-center mt-4 text-muted">
        No one has attempted challenges from this game in the Practice Area yet.
    </div>
</ng-template>
