@import "../../../scss/variables";

@media (max-width: 800px) {
  .nav-sm {
    display: flex;

    .badge {
      display: inline-block;
      font-size: 0.5rem !important;
    }

    li {
      padding-left: 4px;
    }
  }

  .nav-lg {
    display: none;
  }
}

@media (min-width: 801px) {
  .nav-sm {
    display: none !important;
  }

  .nav-lg {
    display: block;

    .nav-items {
      a {
        display: block;
        font-size: 1.5rem;

        &.active {
          color: $body-color !important;
          font-weight: bolder;
          text-decoration: underline;
        }
      }
    }

    .badge {
      display: inline-block;
      font-size: 0.75rem;
      margin-left: -4px;
      margin-right: 12px;
    }
  }
}

.nav-sm {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
