<nav class="nav-lg">
    <div class="nav-items d-flex align-items-center justify-content-end">
        <div class="flex-grow-1"></div>
        <a class="btn btn-link text-success mx-1" routerLinkActive="text-info" [routerLink]="['/home']">Home</a>
        <ng-container *ngIf="(toc$ | async)?.length">
            <a *ngFor="let t of toc$ | async" class="btn btn-link text-success mx-1" routerLinkActive="text-info"
                [routerLink]="['doc', t.link]">{{t.display}}</a>
        </ng-container>
        <a *ngIf="isPracticeModeEnabled" class="btn btn-link text-success mx-1" routerLinkActive="text-info"
            [routerLink]="['practice']">Practice</a>
        <ng-container *ngIf="user$ | async as user; else unauthed">
            <a class="btn btn-link text-success mx-1" routerLinkActive="text-info" [routerLink]="['support']">
                <span>Support</span>
                <app-support-pill></app-support-pill>
            </a>
            <a class="btn btn-link text-success mx-1" routerLinkActive="text-info" [routerLink]="profileUrl">Profile</a>
            <div *appIfHasPermission="'Reports_View'" class="d-flex align-items-center">
                <a class="btn btn-link text-success-mx-1" routerLinkActive="text-info" [routerLink]="['reports']">
                    Reports
                </a>
            </div>
            <ng-container *ngIf="(user$ | async)?.id">
                <a *appIfHasPermission="'Admin_View'" class="btn btn-link text-success mx-1"
                    routerLinkActive="text-info" [routerLink]="['/admin']">Admin</a>
                <a class="btn btn-link text-success mx-1" (click)="handleLogOut()">Log out</a>
            </ng-container>
        </ng-container>
    </div>
</nav>

<nav class="nav-sm bg-dark">
    <div class="flex-grow-1"></div>
    <div class="btn-group" dropdown placement="bottom right">
        <button id="nav-toggle" dropdownToggle type="button" class="btn btn-info dropdown-toggle d-block"
            aria-controls="dropdown-animated">
            <fa-icon [icon]="fa.bars"></fa-icon>
            Menu
        </button>

        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
            <li>
                <a routerLinkActive="active" [routerLink]="['/home']">Home</a>
            </li>
            <ng-container *ngIf="(toc$ | async)?.length">
                <li *ngFor="let t of toc$ | async">
                    <a [routerLink]="['doc', t.link]" routerLinkActive="active">{{t.display}}</a>
                </li>
            </ng-container>
            <li *ngIf="isPracticeModeEnabled">
                <a routerLinkActive="active" [routerLink]="['practice']">Practice</a>
            </li>
            <ng-container *ngIf="user$ | async as user; else unauthed">
                <li>
                    <a routerLinkActive="active" [routerLink]="['support']">
                        <span>Support</span>
                        <app-support-pill></app-support-pill>
                    </a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="profileUrl">Profile</a>
                </li>
                <li *appIfHasPermission="'Reports_View'">
                    <a routerLinkActive="active" [routerLink]="['/reports']">
                        Reports
                    </a>
                    <span class="badge badge-info">[BETA]</span>
                </li>
                <li *appIfHasPermission="'Admin_View'">
                    <a routerLinkActive="active" [routerLink]="['/admin']">
                        Admin
                    </a>
                </li>
                <li *ngIf="user?.id">
                    <a (click)="handleLogOut()">Log out</a>
                </li>
            </ng-container>
        </ul>
    </div>
</nav>

<ng-template #unauthed>
    <div role="button" class="btn btn-link text-success mx-1" (click)="handleLogIn()">Log in</div>
</ng-template>
