<h1>Practice Area</h1>

<p class="my-4">
    Here, you can review the state of the Practice Area, the lightweight and fast section of Gameboard dedicated to
    letting players hone their skills and ultimately improve their competitive performance.
</p>

<!-- <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['challenges']" routerLinkActive="active">Challenges</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['settings']" routerLinkActive="active">Settings</a>
    </li>
</ul> -->

<router-outlet></router-outlet>
