<div *ngIf="game" class="controls-container d-flex align-items-center justify-content-end mb-3">
    <button type="button" class="btn btn-info" (click)="handlePlayerAddClick(game)">
        <fa-icon [icon]="fa.plus"></fa-icon>
        Add {{game.isTeamGame ? "Team" : "Player"}}
    </button>
</div>

<div class="filters-container d-flex align-items-center mb-4">
    <input type="text" minlength="2" placeholder="Search {{ game?.isTeamGame ? 'teams' : 'players' }}"
        [(ngModel)]="searchTerm" (input)="searchInput$.next($event)" class="form-control flex-grow-1">

    <select class="form-control ml-2" [(ngModel)]="advancementFilter" (change)="load()">
        <option [ngValue]="undefined">[Any advancement]</option>
        <option value="advancedFromPreviousGame">Advanced from a previous game</option>
        <option value="advancedToNextGame">Advanced to next game</option>
    </select>

    <select class="form-control ml-2" [(ngModel)]="sessionStatus" (change)="load()">
        <option [ngValue]="undefined" (change)="load()">[Any status]</option>
        <option value="complete">Finished</option>
        <option value="playing">Playing now</option>
        <option value="notStarted">Not Started</option>
    </select>

    <select [(ngModel)]="sort" (change)="load()" class="form-control ml-2">
        <option value="rank">Sort by rank</option>
        <option value="name">Sort by name</option>
        <option value="timeRemaining">Sort by time remaining</option>
    </select>
</div>

<ng-container *ngIf="!isLoading || !results || !game; else loading">
    <ul *ngIf="results?.teams?.items?.length">
        <li *ngFor="let team of results?.teams?.items">
            <div class="card my-2">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="d-flex align-items-center flex-grow-1">
                            <div class="fs-20 mr-4 text-center team-rank">
                                {{ team.rank || "--" }}
                            </div>

                            <app-avatar *ngIf="team.players.length == 1" [tooltip]="team.captain.sponsor.name"
                                [imageUrl]="team.captain.sponsor | sponsorToLogoUri" size="small"
                                class="mr-3"></app-avatar>

                            <div class="flex-grow-1">
                                <h5 class="card-title my-1 overflow-ellipsis">{{ team.name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted"> {{ team.captain.sponsor.name }}</h6>

                                <div class="mt-3">
                                    <ul class="d-flex align-items-center" *ngIf="team.players.length > 1">
                                        <li class="mr-3" *ngFor="let player of team.players">
                                            <div *ngTemplateOutlet="playerAvatar; context: { $implicit: player }"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="mx-4 width-20 fs-10">
                                <ng-container
                                    *ngIf="team.session.start && team.session.end | epochMsToDateTime | datetimeIsFuture">
                                    (<strong class="text-info"
                                        [tooltip]="'Ends ' + (team.session.end | epochMsToDateTime | friendlyDateAndTime) || ''">{{
                                        team.session.timeRemainingMs | countdown }}</strong>
                                    remaining)
                                </ng-container>

                                <span *ngIf="!team.session.start">
                                    (Registered <strong class="text-success"
                                        [tooltip]="(team.registeredOn | epochMsToDateTime | friendlyDateAndTime) || ''">{{
                                        team.registeredOn | epochMsToDateTime |
                                        shortdate }}</strong>)
                                </span>

                                <span *ngIf="team.session.end | epochMsToDateTime | dateTimeIsPast">
                                    (Finished
                                    <strong class="text-danger"
                                        [tooltip]="(team.session.end | epochMsToDateTime | friendlyDateAndTime) || ''">
                                        {{ team.session.end | epochMsToDateTime | shortdate }}
                                    </strong>)
                                </span>
                            </div>

                            <div class="mx-4 width-20" [class.text-dashed-underline]="team.score | scoreToTooltip"
                                [popover]="teamScoreTooltip" [popoverContext]="{ $implicit: team }"
                                triggers="mouseenter:mouseleave">
                                {{ team.score.totalScore }} points
                            </div>
                        </div>

                        <app-game-center-team-context-menu *ngIf="game" [team]="team"
                            [game]="{ id: game.id, name: game.name, isSyncStart: game.requireSynchronizedStart}"
                            (teamUpdated)="load()"></app-game-center-team-context-menu>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</ng-container>

<ng-template #playerAvatar let-player>
    <app-avatar [imageUrl]="player.sponsor | sponsorToLogoUri" size="tiny">
        <div avatarTooltip>
            <div>{{player.name}}</div>
            <div class="text-muted">
                {{player.sponsor.name}}
            </div>
        </div>
    </app-avatar>
</ng-template>

<ng-template #noMatches>
    <p class="my-2 text-muted text-center">No players match your search.</p>
</ng-template>

<ng-template #loading>
    <app-spinner>Finding players...</app-spinner>
</ng-template>

<ng-template #teamScoreTooltip let-team>
    <div class="score-popover text-center">
        <div class="font-bold">{{ team.score | scoreToTooltip }}</div>
        <div class="text-muted">
            ({{ team.challengesCompleteCount }} complete / {{ team.challengesPartialCount }} partial /
            {{ team.challengesZeroCount || 0 }} remaining)
        </div>
    </div>
</ng-template>
