table {
    width: 100%;

    th,
    td {
        padding: 4px 8px;
    }

    .data-row {
        border-bottom: dotted 1px #000000;
        font-size: 1.1rem;
    }

    .fastest-solve-cell p {
        margin: 0;
        padding: 0;
    }

    .headers-row {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        border-bottom: solid 1px #ffffff;

        td:not(:first-of-type) {
            border-left: solid 1px #ffffff;
        }
    }

    .super-headers-row {
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
        border-bottom: solid 1px #ffffff;
        border-top: solid 1px #ffffff;
        text-transform: uppercase;

        th.group-header {
            border-left: solid 1px #ffffff;
        }
    }
}
