<div class="session-start-controls-component my-4">
    <alert type="warning">
        <p>
            After starting the session, the clock expires after {{ctx.game.sessionMinutes}} minutes.
        </p>

        <p [hidden]="ctx.game.maxTeamSize < 2">
            This will start the session for the team, so be sure your teammates are ready to start. You cannot
            add or remove team members after your session has started.
        </p>
    </alert>

    <alert class="sync-start-message my-4" type="info" *ngIf="ctx.game.requireSynchronizedStart">
        <h3><strong>Are you ready?</strong></h3>

        <p class="sync-start-message">
            This game is synchronized, so you won't be able to start it until <strong>everyone</strong>
            registered to play <span *ngIf="ctx.game.maxTeamSize > 1"> (across all teams)</span> has clicked
            "I'm ready" below. If you're all set to play, be sure to ready up so everyone can start playing!
        </p>

        <div *ngIf="isConnectedToGameHub; else connectingToHub"
            class="progress-bar-container mt-4 mb-2 d-flex align-items-center">
            <progressbar class="flex-grow-1" [animate]="true" [value]="playerReadyPct" [max]="100" [ariaValueMin]="0"
                [ariaValueMax]="100" type="info">
                <strong>{{playerReadyPct}}%</strong>
            </progressbar>

            <p class="player-ready-count-text ml-4 flex-shrink-1">
                {{ playerReadyCount }} / {{ playerReadyCount + playerNotReadyCount }} players ready
            </p>
        </div>
    </alert>

    <div class="d-flex align-items-center justify-content-center" *ngIf="!isDoubleChecking">
        <ng-container *ngIf="ctx.game.requireSynchronizedStart">
            <button *ngIf="isConnectedToGameHub; else connectingToHub" btnCheckbox class="btn btn-lg mr-4"
                [class.btn-outline-success]="!ctx.player.isReady" [class.btn-danger]="ctx.player.isReady"
                [class.btn-secondary]="isReadyingUp" [(ngModel)]="ctx.player.isReady"
                (click)="handleReadyUpdated(ctx.player)" [disabled]="isReadyingUp">
                <span>{{ ctx.player.isReady ? "Cancel - I'm not ready" : "I'm ready!" }}</span>
            </button>
        </ng-container>

        <app-confirm-button btnClass="btn btn-lg btn-info" *ngIf="!ctx.game.requireSynchronizedStart"
            (confirm)="handleDoubleCheckRequest(true)" (cancel)="handleDoubleCheckRequest(false)">
            <fa-icon [icon]="fa.bolt"></fa-icon>
            <span>Start Session</span>
        </app-confirm-button>

        <ng-container *ngIf="(ctx.user.isRegistrar || ctx.user.isAdmin) && ctx.game.mode !== 'external'">
            <div class="text-center ml-4">
                <app-confirm-button btnClass="btn btn-lg btn-warning" (confirm)="onRequestStart.emit(ctx.player)">
                    <fa-icon [icon]="fa.bolt"></fa-icon>
                    <span>Admin Start</span>
                </app-confirm-button>
            </div>
        </ng-container>
    </div>

    <div class="doublecheck-container">
        <div class="card-text my-4" *ngIf="isDoubleChecking">
            <alert type="danger">
                <ul>
                    <li>After starting the session, the clock expires after {{ctx.game.sessionMinutes}} minutes!</li>
                    <li [hidden]="ctx.game.maxTeamSize < 2">
                        This will start the session for the team, so be sure your
                        teammates are ready to start!
                    </li>
                    <li [hidden]="ctx.game.maxTeamSize < 2">
                        You cannot add or remove team members after your session has started!
                    </li>
                    <li [hidden]="ctx.game.allowReset">You will not be able to reset the session after starting it!</li>
                </ul>
            </alert>

            <div class="text-center">
                <app-confirm-button btnClass="btn btn-lg btn-warning" (confirm)="handleStartRequest(ctx.player)"
                    (cancel)="handleDoubleCheckRequest(false)">
                    <fa-icon [icon]="fa.bolt"></fa-icon>
                    <span>Yes, start {{ctx.game.name}}</span>
                </app-confirm-button>
            </div>
        </div>
    </div>
</div>

<ng-template #connectingToHub>
    <app-spinner>Connecting to the game...</app-spinner>
</ng-template>
