<div class="session-start-controls-component my-4">
    <alert type="warning">
        <p>
            After starting the session, the clock expires after {{ctx.game.sessionMinutes}} minutes.
        </p>

        <p *ngIf="ctx.game.maxTeamSize > 1">
            This will start the session for the team, so be sure your teammates are ready to start. You cannot
            add or remove team members after your session has started.
        </p>
    </alert>

    <alert class="sync-start-message my-4" type="info" *ngIf="ctx.game.requireSynchronizedStart">
        <h3><strong>Are you ready?</strong></h3>

        <p class="sync-start-message">
            This game is synchronized, so you won't be able to start it until <strong>everyone</strong>
            registered to play <span *ngIf="ctx.game.maxTeamSize > 1"> (across all teams)</span> has clicked
            <strong>"I'm ready"</strong> below. If you're all set to play, be sure to ready up so everyone can start
            playing!
        </p>

        <div *ngIf="isConnectedToGameHub; else loading"
            class="progress-bar-container mt-4 mb-2 d-flex align-items-center">
            <progressbar class="flex-grow-1" [animate]="true" [value]="playerReadyPct" [max]="100" [ariaValueMin]="0"
                [ariaValueMax]="100" type="info">
                <strong>{{playerReadyPct}}%</strong>
            </progressbar>

            <p class="player-ready-count-text ml-4 flex-shrink-1">
                {{ playerReadyCount }} / {{ playerReadyCount + playerNotReadyCount }} players ready
            </p>
        </div>
    </alert>

    <alert type="danger" *ngIf="ctx.game.requireSynchronizedStart && isHubConnectionError">
        <h3><strong>Game Connection Error</strong></h3>
        <p>We're having trouble connecting you to the game. Don't worry; we'll keep trying.</p>
    </alert>

    <div class="d-flex align-items-center justify-content-center" *ngIf="!isDoubleChecking">
        <ng-container *ngIf="ctx.game.requireSynchronizedStart">
            <ng-container *ngIf="!isReadyingUp; else loading">
                <button *ngIf="isConnectedToGameHub; else connectingToHub" btnCheckbox class="btn btn-lg mr-4"
                    [disabled]="isReadyingUp || !isConnectedToGameHub || playerReadyPct == 100"
                    [class.btn-outline-success]="!ctx.player.isReady" [class.btn-danger]="ctx.player.isReady"
                    [class.btn-secondary]="isReadyingUp" (click)="handleReadyUpdated(ctx.player)">
                    <span>{{ ctx.player.isReady ? "Cancel - I'm not ready" : "I'm ready!" }}</span>
                </button>
            </ng-container>
        </ng-container>

        <app-confirm-button btnClass="btn btn-lg btn-success" *ngIf="!ctx.game.requireSynchronizedStart"
            (confirm)="handleDoubleCheckRequest(true)" (cancel)="handleDoubleCheckRequest(false)">
            <fa-icon [icon]="fa.bolt"></fa-icon>
            <span>Start Session</span>
        </app-confirm-button>

        <ng-container *ngIf="(ctx.user | can:'Play_IgnoreExecutionWindow') && ctx.game.mode !== 'external'">
            <div class="text-center ml-4">
                <app-confirm-button btnClass="btn btn-lg btn-warning" (confirm)="onRequestStart.emit(ctx.player)">
                    <fa-icon [icon]="fa.bolt"></fa-icon>
                    <span>Admin Start</span>
                </app-confirm-button>
            </div>
        </ng-container>
    </div>

    <div class="doublecheck-container">
        <div class="card-text my-4" *ngIf="isDoubleChecking">
            <alert type="danger">
                <ul>
                    <li>After starting the session, the clock expires after {{ctx.game.sessionMinutes}} minutes!</li>
                    <li [hidden]="ctx.game.maxTeamSize < 2 && ctx.game.mode !== 'external'">
                        This will start the session for the team, so be sure your teammates are ready to start.
                    </li>
                    <li [hidden]="ctx.game.maxTeamSize < 2">
                        You cannot add or remove team members after your session has started.
                    </li>
                    <li [hidden]="ctx.game.allowReset">You will not be able to reset the session after starting it.</li>
                </ul>
            </alert>

            <div class="text-center" *ngIf="!isStartingSession; else startingSession">
                <app-confirm-button btnClass="btn btn-lg btn-warning" (confirm)="handleStartRequest(ctx.player)"
                    (cancel)="handleDoubleCheckRequest(false)">
                    <fa-icon [icon]="fa.bolt"></fa-icon>
                    <span>Yes, start {{ctx.game.name}}</span>
                </app-confirm-button>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-spinner color="#ffffff"></app-spinner>
</ng-template>

<ng-template #connectingToHub>
    <app-spinner text="Connecting to the game..." textPosition="bottom"></app-spinner>
</ng-template>

<ng-template #startingSession>
    <app-spinner>Starting your session...</app-spinner>
</ng-template>

<ng-template #readyButton>
    <button *ngIf="isConnectedToGameHub; else connectingToHub" btnCheckbox class="btn btn-lg mr-4"
        [disabled]="isReadyingUp || !isConnectedToGameHub || playerReadyPct == 100"
        [class.btn-outline-success]="!ctx.player.isReady" [class.btn-danger]="ctx.player.isReady"
        [class.btn-secondary]="isReadyingUp" (click)="handleReadyUpdated(ctx.player)">
        <span>{{ ctx.player.isReady ? "Cancel - I'm not ready" : "I'm ready!" }}</span>
    </button>
</ng-template>
