<div *ngIf="gameId" class="d-flex align-items-center">
    <div class="flex-grow-1">
        <select id="external-host-picker" *ngIf="hosts.length; else noHosts" name="external-host-picker"
            class="form-control d-block" [(ngModel)]="selectedHostId">
        </select>
    </div>

    <div class="btn-group">
        <button *ngIf="selectedHostId" class="btn btn-info ml-2" (click)="handleEditClick(gameId, selectedHostId)"
            tooltip="Edit this host's settings">
            <fa-icon [icon]="fa.edit"></fa-icon>
        </button>
        <button class="btn btn-info" (click)="handleAddClick(gameId)" tooltip="Create a new external host">
            <fa-icon [icon]="fa.plus"></fa-icon>
        </button>
    </div>
</div>

<ng-template #noHosts>
    <span class="text-muted" *ngIf="gameId">
        No external hosts have been created. You'll need to <button type="text" class="btn btn-link text-info px-0"
            (click)="handleAddClick(gameId)">add one</button> to configure this external game.
    </span>
</ng-template>
