<h1>History</h1>

<div *ngIf="list$ | async as list; else loading">

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Sponsor</th>
        <th>Game</th>
        <th>Rank</th>
        <th>Score</th>
        <th>Mode</th>
        <th>When</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of list">
        <td>{{c.approvedName}}</td>
        <td><img [src]="c.sponsorLogo" width="48px"></td>
        <td>{{c.gameName}}</td>
        <td>{{c.rank}}</td>
        <td>{{c.score}}</td>
        <td>{{c.mode}}</td>
        <td>{{c.sessionBegin | date:'short'}}</td>
      </tr>
    </tbody>
  </table>

</div>


<ng-template #loading>
  <div class="text-center">
    <app-spinner></app-spinner>
  </div>
</ng-template>
