@use "sass:map";
@import "../../../../scss/variables";
@import "../../../../scss/player-avatars";

@for $i from 0 through $max-players-per-team - 1 {
    li.avatar-position-#{$i}.avatar-size-small {
        z-index: $z-index-relative + $i;
        transform: getPlayerAvatarListTransform("small", $i);
    }

    li.avatar-position-#{$i}.avatar-size-medium {
        z-index: $z-index-relative + $i;
        transform: getPlayerAvatarListTransform("medium", $i);
    }

    li.avatar-position-#{$i}.avatar-size-large {
        z-index: $z-index-relative + $i;
        transform: getPlayerAvatarListTransform("large", $i);
    }
}

app-player-status {
    position: absolute;
    right: -6px;
    bottom: -8px;
    z-index: $z-index-relative + 5;
}
