$sizes: (
    "small": 1rem,
    "medium": 2rem,
    "large": 2.75rem
);

:host {
    display: block;
    clip-path: circle(50% at 50% 50%);

    border: dashed 1px #dadada;
    border-radius: 50%;
}

.player-avatar-component {
    display: flex;
}

.avatar-container {
    background: no-repeat center center;
    background-size: contain;
    flex: 0 0;
    object-fit: contain;
}

@each $name,
$radius in $sizes {
    $adjustedRadius: calc($radius + 2px); // not sure why, but using the hard radius causes clip-path to look subtly wrong
    $width: $radius * 2;

    .avatar-container.size-#{$name} {
        height: $width;
        min-width: $width;
        width: $width;
    }
}
