<ng-container *ngIf="context; else loading">
    <div class="modal-header">
        <div class="modal-title pull-left d-flex align-items-center">
            <div *ngIf="!isTeam" class="single-player-avatar">
                <app-player-avatar size="medium" [player]="context.score.players[0]"></app-player-avatar>
            </div>
            <div class="headers ml-3 pt-3">
                <h3>
                    <span class="subtle-text">
                        {{ isTeam ? "Team" : "Player" }} Score:
                    </span>
                    {{ context.gameInfo.name }}
                </h3>
                <h2>{{ context.score.team.name }}</h2>
                <div *ngIf="context.score.isAdvancedToNextRound" class="badge badge-info fs-09">Advanced to next round
                </div>
            </div>
        </div>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="handleModalClose()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="isTeam" class="team-detail-section">
            <div class="player-list">
                <ul class="d-flex align-items-center justify-content-center">
                    <li *ngFor="let player of context.score.players">
                        <div class="player-detail-container text-center mx-3">
                            <app-player-avatar [player]="player" size="large" class="mb-5"></app-player-avatar>
                            <div class="player-name fs-11">{{ player.name }}</div>
                            <div class="sponsor-name">{{ player.sponsor.name }}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="team-detail-section d-flex align-items-stretch">
            <div class="pr-5 flex-basis-50 flex-grow-1">
                <h4>Score</h4>

                <div class="big-stat">
                    {{ context.score.overallScore.totalScore }} points
                </div>
                <!-- <div class="score-breakdown d-flex align-items-center">
                    <div class="score-component"
                        *ngIf="hasManualChallengeBonuses || hasManualTeamBonuses || hasAutoBonuses">
                        <div class="score-value">{{ context.score.overallScore.completionScore }}</div>
                        <div class="score-label">Challenge Points</div>
                    </div>

                    <ng-container *ngIf="hasAutoBonuses">
                        <div class="score-plus">+</div>
                        <div class="score-component">
                            <div class="score-value">{{ context.score.overallScore.bonusScore }}</div>
                            <div class="score-label">Bonus Points</div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="hasManualChallengeBonuses || hasManualTeamBonuses">
                        <div class="score-plus">+</div>
                        <div class="score-component">
                            <div class="score-value">{{ context.score.overallScore.manualBonusScore }}</div>
                            <div class="score-label">Admin Adjustment</div>
                        </div>
                    </ng-container>

                    <div class="score-equals" *ngIf="hasManualChallengeBonuses || hasManualTeamBonuses || hasAutoBonuses">=
                    </div>-->

                <!-- </div> -->
            </div>
            <div class="pl-5 flex-basis-50">
                <h4>Cumulative Time</h4>
                <div class="big-stat">
                    {{ context.score.cumulativeTimeMs | msToDuration }}
                </div>
            </div>
        </div>

        <div class="team-detail-section">
            <h4>Challenges</h4>

            <table class="challenge-results-table table table-striped gameboard-table w-100 mt-3">
                <col>
                <col *ngIf="hasBonuses">
                <col *ngIf="hasAutoBonuses">
                <col *ngIf="hasManualChallengeBonuses">
                <col>

                <thead class="thead-light">
                    <tr class="headers">
                        <th scope="col">Challenge</th>
                        <th scope="col" *ngIf="hasBonuses" class="numeric-column">
                            Points
                        </th>
                        <th scope="col" *ngIf="hasAutoBonuses" class="numeric-column">Bonus</th>
                        <th scope="col" *ngIf="hasManualChallengeBonuses" class="numeric-column">Adjustment</th>
                        <th scope="col" class="numeric-column  total-column">Score</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let challenge of context.score.challenges">
                        <td>
                            {{challenge.name}}
                            <div [class]="challenge.result | challengeResultColor">
                                <strong>{{ challenge.result | challengeResultPretty }}</strong>
                            </div>
                        </td>
                        <td *ngIf="challenge.score.totalScore != challenge.score.completionScore"
                            class="numeric-column">
                            {{ challenge.score.completionScore }}
                        </td>
                        <td *ngIf="hasAutoBonuses" class="numeric-column">
                            <span> {{ challenge.score.bonusScore }}</span>
                        </td>
                        <td *ngIf="hasManualChallengeBonuses" class="numeric-column">
                            {{ challenge.score.manualBonusScore }}
                        </td>
                        <td class="numeric-column total-column">
                            {{ challenge.score.totalScore }}
                        </td>
                    </tr>
                </tbody>

                <tfoot>
                    <td></td>
                    <td *ngIf="hasBonuses || hasManualChallengeBonuses || hasManualTeamBonuses" class="numeric-column">
                        {{ context.score.overallScore.completionScore }}</td>
                    <td *ngIf="hasAutoBonuses" class="numeric-column">
                        {{ context.score.overallScore.bonusScore }}
                    </td>
                    <td *ngIf="hasManualChallengeBonuses" class="numeric-column">
                        {{ challengeManualBonusTotal }}
                    </td>
                    <td class="numeric-column  total-column">
                        <!--team level bonuses get displayed in a separate table below-->
                        {{ context.score.overallScore.totalScore - teamManualBonusTotal }}
                    </td>
                </tfoot>
            </table>
        </div>

        <div class="team-detail-section" *ngIf="context.score.manualBonuses.length">
            <h4>Additional Bonuses</h4>

            <table class="table table-striped gameboard-table w-100 mt-3">
                <col>
                <col>

                <thead class="thead-light">
                    <tr class="headers">
                        <th>Bonus</th>
                        <th class="numeric-column total-column">Score</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let bonus of context.score.manualBonuses">
                        <td>
                            {{bonus.description}}
                        </td>
                        <td class="numeric-column">
                            {{bonus.pointValue}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="team-detail-section">
            <div class="d-flex grand-total-container">
                <div class="flex-grow-1">Grand Total</div>
                <div class="total-column text-center">{{context.score.overallScore.totalScore}}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="handleModalClose()">OK</button>
    </div>
</ng-container>

<ng-template #loading>
    <app-spinner></app-spinner>
</ng-template>
