<div class="modal-content">
    <div class="modal-header">
        <div class="titles-container">
            <h6 *ngIf="subtitle" class="text-upper text-muted fw-bold mb-0 pb-0">{{ subtitle }}</h6>
            <h2 title class="modal-title pull-left">
                {{ title }}
            </h2>
            <h5 *ngIf="subSubtitle" class="text-muted">
                {{ subSubtitle }}
            </h5>
        </div>
        <button *ngIf="!hideCancel" type="button" class="btn-close close pull-right" aria-label="Close"
            (click)="handleClose()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng-content></ng-content>
    </div>
    <div class="modal-footer d-flex align-items-center">
        <div class="modal-footer-container flex-grow-1">
            <ng-content select="[footer]"></ng-content>
        </div>

        <div class="modal-buttons">
            <button type="button" *ngIf="!hideCancel" class="btn btn-link text-muted" (click)="handleClose()">
                {{ cancelButtonText || "Cancel" }}
            </button>
            <button type="button" class="btn" [class.btn-danger]="isDangerConfirm"
                [class.btn-success]="!isDangerConfirm" [disabled]="confirmDisabled" (click)="handleConfirm()">
                {{ confirmButtonText || 'OK' }}
            </button>

        </div>
    </div>
</div>
