<ng-container *ngIf="ctx">
    <div class="greeting-container settings-section mt-4">
        <h2>Practice Page Greeting</h2>
        <p>
            This text appears on the practice page to introduce players to playing in the Practice Area. Edit it below
            to customize it to your needs.
        </p>

        <textarea class="form-control" [placeholder]="ctx.introTextPlaceholder"
            [(ngModel)]="ctx.settings.introTextMarkdown" (input)="handleSettingsChanged(ctx.settings)"
            rows="5"></textarea>
    </div>

    <div class="suggested-searches-container settings-section">
        <h2>Suggested searches</h2>

        <p>
            These search terms will appear on the homepage of the Practice Area, just below the greeting. You can use
            these to direct players to useful or interesting subsets of the available practice challenges.
        </p>

        <p>
            These terms also "filter" the list of tags applied to the challenges.
            <span class="btn-link" role="button" (click)="handleShowSuggestedSearchesNote()">Click here</span>
            for more information.
        </p>

        <textarea class="form-control" (input)="handleSettingsChanged(ctx.settings)"
            [(ngModel)]="suggestedSearchesLineDelimited" rows="10">

        </textarea>
        <small><strong>NOTE:</strong> Enter one suggested search per line.</small>
    </div>

    <div class="greeting-container settings-section">
        <h2>Certificate Template</h2>
        <p>
            Players are able to save certificates in PDF format for each practice challenge they fully complete. Choose
            a template below to customize the appearance of these certificates.
        </p>

        <app-certificate-template-picker [selectedTemplateId]="ctx.settings.certificateTemplateId" [hideLabel]="true"
            (selected)="handleCertificateTemplateSelect($event)"
            defaultOptionText="[no global practice certificate template]"></app-certificate-template-picker>
    </div>

    <div class="concurrent-sessions-container settings-section">
        <h2>Session Limits</h2>
        <p>
            You can use the controls below to set limits on practice sessions, including how many can be active at once
            how long they are by default, and the max length that a player can play in a single practice session.
        </p>

        <div *ngIf="ctx.settings.maxConcurrentPracticeSessions === 0">
            <alert type="warning">
                The Practice Area is disabled and hidden when the maximum concurrent user count is set to zero.
            </alert>
        </div>

        <div class="concurrent-session-controls-container d-flex">
            <div class="form-group pl-0">
                <label for="maxConcurrentUsers">Maximum Concurrent Users</label>
                <input type="number" class="form-control" name="maxConcurrentUsers" placeholder="No maximum" min="0"
                    (input)="handleSettingsChanged(ctx.settings)"
                    [(ngModel)]="ctx.settings.maxConcurrentPracticeSessions">
            </div>

            <div class="form-group">
                <label for="defaultSessionLength">Default Session Length (minutes)</label>
                <input type="number" class="form-control" name="defaultSessionLength" min="5" required
                    (change)="handleSettingsChanged(ctx.settings)"
                    [popover]="'The default session length is required and defaults to 60 minutes if unset.'"
                    [isOpen]="!ctx.settings.defaultPracticeSessionLengthMinutes" placement="bottom"
                    [(ngModel)]="ctx.settings.defaultPracticeSessionLengthMinutes">
            </div>

            <div class="form-group">
                <label for="maxSessionLength">Maximum Session Length (minutes)</label>
                <input type="number" class="form-control" name="maxSessionLength" placeholder="No maximum" min="5"
                    (change)="handleSettingsChanged(ctx.settings)"
                    [(ngModel)]="ctx.settings.maxPracticeSessionLengthMinutes">
            </div>

            <div class="form-group">
                <label for="attemptLimit">Attempt Limit</label>
                <input type="number" class="form-control" min="1" placeholder="Infinite attempts"
                    (change)="handleSettingsChanged(ctx.settings)" [(ngModel)]="ctx.settings.attemptLimit">
            </div>
        </div>
    </div>
</ng-container>
