<ng-container *ngIf="activeChallenge$ === undefined; else resolved">
    <app-spinner>{{ isChangingSessionEnd ? "Updating your session..." : "Finding your challenge..." }}</app-spinner>
</ng-container>

<ng-template #resolved>
    <ng-container *ngIf="activeChallenge$ | async as activeChallenge">
        <div class="text-info card-text mb-2">
            <a [routerLink]="['/practice', activeChallenge.spec.id, slug(activeChallenge.spec.name)]">
                <alert type="success">
                    <strong class="text-upper">Your practice challenge</strong>
                    <div class="fs-13 font-weight-light">{{ activeChallenge.spec.name }}</div>
                </alert>
            </a>
        </div>

        <table class="table mt-2 text-center">
            <col>
            <col>

            <thead>
                <th scope="col">Score</th>
                <th scope="col">Time Remaining</th>
            </thead>

            <tbody>
                <tr>
                    <td>{{activeChallenge.scoreAndAttemptsState.score}}</td>
                    <td class="text-success fw-bold">
                        {{ activeChallenge.endsAt | epochMsToTimeRemainingString | async }}
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-container *ngIf="!isChangingSessionEnd">
            <div class="text-center">
                <app-confirm-button btnClass="btn btn-success btn-sm" [tooltip]="extendTooltip"
                    [disabled]="((activeChallenge.endsAt | epochMsToMsRemaining | async) || 0) > msPerHour"
                    [tooltip]="((activeChallenge.endsAt | epochMsToMsRemaining | async) || 0) > msPerHour ? 'You can manually extend your session when less than an hour remains.' : ''"
                    (confirm)="extendSession(activeChallenge)">
                    Extend Session
                </app-confirm-button>
                <span class="mr-2"></span>
                <app-confirm-button btnClass="btn btn-success btn-sm" (confirm)="endSession(activeChallenge)">
                    End Session
                </app-confirm-button>
            </div>

            <div class="text-center btn-link text-muted my-2"
                (click)="handleToggleStickyPanel(!userSettings$.value.useStickyChallengePanel)">
                {{ (userSettings$ | async)?.useStickyChallengePanel ? "Turn off" : "Turn on" }} the Sticky Challenge
                Panel
            </div>
        </ng-container>
    </ng-container>
</ng-template>
