<ng-container *ngIf="userActivePracticeChallenge === undefined; else resolved">
    <app-spinner></app-spinner>
    Finding your challenge...
</ng-container>

<ng-template #resolved>
    <ng-container *ngIf="userActivePracticeChallenge">
        <div class="text-info card-text mb-2">
            <a
                [routerLink]="['/practice', userActivePracticeChallenge.spec.id, slug(userActivePracticeChallenge.spec.name)]">
                <alert type="info">
                    <strong class="text-upper">Your active practice challenge</strong>
                    <div class="fs-13 font-weight-light">{{ userActivePracticeChallenge.spec.name }}</div>
                </alert>
            </a>
        </div>

        <table class="table mt-2 text-center">
            <col>
            <col>
            <col>

            <thead>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </thead>

            <tbody>
                <tr>
                    <td>Score</td>
                    <td>Cumulative Time</td>
                    <td>Time Remaining</td>
                </tr>
                <tr>
                    <td>{{userActivePracticeChallenge.scoreAndAttemptsState.score}}</td>
                    <td>
                        {{ (msElapsed$ | async) || 0 | clock }}
                    </td>
                    <td class="text-info fw-bold">
                        {{ (msRemaining$ | async) || undefined | countdown }}
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-container *ngIf="!isChangingSessionEnd; else changingSessionEnd">
            <div class="text-center">
                <app-confirm-button btnClass="btn btn-info btn-sm"
                    (confirm)="extendSession(userActivePracticeChallenge)">
                    Extend Session
                </app-confirm-button>
                <span class="mr-2"></span>
                <app-confirm-button btnClass="btn btn-info btn-sm" (confirm)="endSession(userActivePracticeChallenge)">
                    End Session
                </app-confirm-button>
            </div>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #changingSessionEnd>
    <app-spinner>Updating your session...</app-spinner>
</ng-template>
