::ng-deep {
  .event-type-challenge-deployed {
    background-color: #e7eaf6;
  }

  .event-type-gamespace {
    background-color: #a2a8d3;
  }

  .event-type-solve-complete {
    background-color: #38598b;
  }

  .event-type-submission-scored {
    background-color: #113f67;
    color: #e7eaf6;
  }
}
