<div #timelineContainer></div>
<div *ngIf="timelineViewModel; else noTimeline" class="team-event-horizon-component py-2">
    <hr />
    <div class="controls-container">
        <div class="btn-group btn-group-toggle" role="group" aria-label="Event type selection group"
            data-toggle="buttons">
            <label *ngFor="let eventType of allEventTypes" class="btn"
                [class.btn-outline-light]="eventType | arrayContains:selectedEventTypes:true"
                [class.btn-info]="eventType | arrayContains:selectedEventTypes">
                <input type="checkbox" autocomplete="off" (click)="handleEventTypeToggled(eventType)"
                    [checked]="eventType | arrayContains:selectedEventTypes">
                {{eventType | eventTypeToFriendlyName}}
            </label>
        </div>
    </div>
</div>

<ng-template #noTimeline>
    <div>
        This team doesn't have any recorded data for this game.
    </div>
</ng-template>
