<div class="team-event-horizon-component py-2">
    <div #timelineContainer></div>
    <hr />
    <div class="controls-container">
        <div class="btn-group mr-2" role="group" aria-label="Event type selection group">
            <div class="btn-group-toggle" data-toggle="buttons">
                <label *ngFor="let eventType of allEventTypes" class="btn btn-secondary">
                    <input type="checkbox" autocomplete="off" (click)="handleEventTypeToggled(eventType)"
                        [class.active]="eventType | arrayContains:selectedEventTypes"
                        [checked]="eventType | arrayContains:selectedEventTypes">{{eventType}}
                </label>
            </div>
        </div>
    </div>
</div>
