@import "../../../../scss/variables";

::ng-deep {
  .eh-event-clickable {
    cursor: pointer;
  }

  .eh-event-type-challenge-deployed {
    background-color: #e7eaf6;
  }

  .eh-event-type-gamespace {
    background-color: #a2a8d3;
  }

  .eh-event-type-solve-complete {
    background-color: #38598b;
  }

  .eh-event-type-submission-scored {
    background-color: #113f67;
    color: #e7eaf6;
  }

  .vis-item {
    .vis-item-content {
      text-align: left !important;
    }

    h1 {
      font-size: 1.1rem;
      margin: 0;
    }

    h2 {
      font-size: 1rem;
      margin: 0;
    }

    p {
      margin: 4px 0 4px 0;
    }
  }

  .vis-label.vis-group-level-0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $foreground;
  }

  .vis-time-axis .vis-text {
    color: $foreground !important;
  }
}
