@media print {
  * {
    --webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    border-width: 0px;
    margin: 0mm !important;
    padding: 0;
  }

  @page {
    size: letter landscape;
    margin: 0mm !important;
    padding: 0;
  }

  img {
    width: 100%;
    height: 100%;
  }

  html,
  body * {
    visibility: hidden;
  }

  .gameboard-print {
    visibility: visible;
  }

  .print-button {
    display: none;
    visibility: hidden;
  }
}

.certificate-printer-component {
  position: relative;
}

.gameboard-print {
  display: flex;
  justify-content: center;
}

img {
  height: 100vh;
}

.print-button-container {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 4px;
  width: calc(100vw - 12px);
}
