@media print {
    body {
        margin: 0mm !important;
    }

    @page {
        size: letter landscape;
        margin: 0mm !important;
        min-width: 768px;
    }

    img {
        width: 100vw;
    }

    html, body * {
        visibility: hidden;
    }

    .gameboard-print {
        display: block;
        visibility: visible;
    }
}

* {
    --webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.gameboard-print {
    display: flex;
    justify-content: center;
}

img {
    height: 100vh;
}

.is-not-published {
    margin-top: 5rem;
    text-align: center;
}
