@import "../../../../scss/variables";

.challenge-group-user-card {
  background-color: $body-bg;
  border-radius: 6px;
}

.challenge-group-user-card-img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 240px;
}

.featured-banner {
  background-color: $success;
  color: $body-color;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
