@use "sass:color";
@import "theme/theme";

.category-header {
  background-color: $body-color;
  color: color.adjust($body-bg, $lightness: 20%);
  margin: 0;
  padding: 0.5rem;
  vertical-align: middle;
  text-transform: uppercase;

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
}

.has-permission {
  color: $success;
}

.no-permission {
  color: $light;
}

.your-role {
  background-color: $success;

  .has-permission {
    color: $body-color;
  }

  .no-permission {
    color: color.adjust($body-color, $lightness: -20%);
  }
}

.sticky-header {
  top: 50px;
  left: 0px;
  position: sticky;
  z-index: 999;
  background-color: color.adjust($body-color, $lightness: -80%);

  th {
    border-bottom: 1px solid #fff !important;
  }
}

::ng-deep .permission-description p {
  margin: 0;
  padding: 0;
}
