@import "../../../../scss/variables";

.category-header {
  background-color: $foreground;
  color: lighten($body-bg, 20%);
  margin: 0;
  padding: 0.5rem;
  vertical-align: middle;
  text-transform: uppercase;

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
}
