@import "theme/theme";

h4 {
  margin-bottom: 1.5rem;
}

.panel {
  margin-bottom: 0.5rem;
}

hr {
  border: solid 1px $body-color;
}

.root-sponsor-container {
  border-bottom: dashed 1px $body-color;
}
