<div class="gameboard-performance-summary-component" *ngIf="boardPlayer as ctx; else loading">
    <div class="text-info card-text mb-2">
        <span *ngIf="ctx.session.isAfter">Game Over </span>
        <span *ngIf="ctx.session.isDuring">Time Remaining: </span>
        <span class="font-weight-bold" [class]="(countdown$ | async) || 0 | countdowncolor">
            {{ (countdown$ | async) || 0 | countdown }}
        </span>
    </div>
    <table class="table mt-2 text-center">
        <tbody>
            <tr>
                <td>Rank</td>
                <td>Score</td>
                <td>Cumulative Time</td>
                <td>Completes</td>
                <td>Partials</td>
            </tr>
            <tr>
                <td>{{ctx.rank}}</td>
                <td>{{ctx.score}}</td>
                <td>
                    <app-cumulative-time-clock [session]="ctx.session"></app-cumulative-time-clock>
                </td>
                <td>{{ctx.correctCount}}</td>
                <td>{{ctx.partialCount}}</td>
            </tr>
        </tbody>
    </table>
    <ng-container *ngIf="ctx.session.isDuring">
        <div *ngIf="hubState$ | async as hubstate" class="text-center mb-2">
            <small *ngIf="!!hubstate.joined" class="text-success">
                <fa-icon [icon]="faService.bolt"></fa-icon>
                connected
            </small>
            <small *ngIf="!hubstate.joined" class="ml-2 text-danger">
                <fa-icon [icon]="faService.exclamationTriangle"></fa-icon>
                disconnected
            </small>
        </div>
        <div *ngIf="ctx.game.isPracticeMode" class="text-center">
            <app-confirm-button btnClass="btn btn-info btn-sm" (confirm)="extendSession(false)">
                Extend Session
            </app-confirm-button>
            <span class="mr-2"></span>
            <app-confirm-button btnClass="btn btn-info btn-sm" (confirm)="extendSession(true)">
                End Session
            </app-confirm-button>
        </div>
    </ng-container>
    <div *ngIf="ctx.session.isAfter && ctx.game.isPracticeMode" class="text-center">
        <a class="btn btn-info btn-sm" [routerLink]="['/prac']">
            More Practice
        </a>
    </div>
</div>

<ng-template #loading>
    <app-spinner></app-spinner>
</ng-template>
