@import "../../../../scss/variables";

.challenge-spec-editor-component {
    background-color: $secondary;
    border: solid 1px $foreground;
    border-radius: 6px;
    padding: 0.5rem;

    hr {
        border: dashed 1px $foreground;
    }
}

label {
    margin: 0;
}

.form-group {
    margin: 8px 0 0 0;
    padding: 0;
    flex: 1 1 48%;
    align-items: center;

    input[type=text] {
        margin: 0 12px 0 0;
    }
}

.form-check {
    flex: 1 1 48%;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

.bonuses-container li {
    list-style-type: unset;
    margin-left: 2rem;
}
