<div class="challenge-spec-editor-component" *ngIf="spec">
    <h2 class="m-0 p-0 fs-11">{{ spec.name }}</h2>
    <h3 class="m-0 p-0 text-success fs-09 fw-bold cursor-pointer" [appCopyOnClick]="spec.id"
        appCopyOnClickMessage="Copied **{{spec.name}}**'s ID to your clipboard"
        class="text-success fs-09 fw-bold cursor-pointer">
        <span tooltip="Copy this challenge's ID to your clipboard">{{ spec.id | slice:0:6 }}</span>
    </h3>
    <hr class="my-2" />
    <div class="spec-controls-container d-flex flex-wrap align-items-center">
        <div class="form-group">
            <label for="slug-input-{{spec.id}}">Support Key</label>
            <input type="text" class="form-control" id="slug-input-{{spec.id}}" name="slug" [(ngModel)]="spec.tag"
                [placeholder]="'Enter a support key (e.g. ' + slug(spec.name) + ')'"
                (ngModelChange)="handleSpecUpdated(spec)">
        </div>

        <div class="form-group">
            <label for="points-input-{{spec.id}}">Points</label>
            <input type="number" class="form-control" id="points-input-{{spec.id}}" name="points"
                placeholder="Enter a point value for this challenge" [(ngModel)]="spec.points"
                (input)="handleSpecUpdated(spec)">
        </div>

        <div class="form-group">
            <label for="guide-input-{{spec.id}}">Solution Guide URL</label>
            <input type="text" class="form-control" id="guide-input-{{spec.id}}" name="guide"
                placeholder="Enter the solution guide's URL" [(ngModel)]="spec.solutionGuideUrl"
                (input)="handleSpecUpdated(spec)">
        </div>

        <div class="form-check ml-2">
            <input type="checkbox" class="form-check-input" id="guide-show-in-competitive-{{spec.id}}"
                name="guide-in-competitive" [(ngModel)]="spec.showSolutionGuideInCompetitiveMode"
                (input)="handleSpecUpdated(spec)">
            <label for="guide-show-in-competitive-{{spec.id}}">Show Solution Guide in Competitive Mode</label>
        </div>

        <div class="form-check mt-2">
            <input type="checkbox" class="form-check-input" id="disabled-input-{{spec.id}}" name="disabled"
                [(ngModel)]="spec.disabled" (ngModelChange)="handleSpecUpdated(spec)">

            <app-whats-this whatItIs="Players can see disabled challenge specs but can't deploy them.">
                <label for="disabled-input-{{spec.id}}">Disabled</label>
            </app-whats-this>
        </div>

        <div class="form-check ml-2 mt-2">
            <input type="checkbox" class="form-check-input" id="hidden-input-{{spec.id}}" name="disabled"
                [(ngModel)]="spec.isHidden" (ngModelChange)="handleSpecUpdated(spec)">
            <app-whats-this
                whatItIs="Hidden challenge specs are invisible to players and don't contribute to their score. They also don't appear in reports.">
                <label for="hidden-input-{{spec.id}}">Hidden</label>
            </app-whats-this>
        </div>
    </div>

    <ng-container *ngIf="scoringConfig && scoringConfig.possibleBonuses.length">
        <hr class="my-2">
        <div class="scoring-config-container">
            <h6>Automatic Bonuses</h6>

            <div class="bonuses-container mt-4">
                <ol>
                    <li *ngFor="let bonus of scoringConfig.possibleBonuses">
                        {{bonus.description}} ({{ bonus.pointValue }} points)
                    </li>
                </ol>
            </div>
        </div>
    </ng-container>

    <hr class="my-2">
    <div class="d-flex align-items-center justify-content-end">
        <app-confirm-button btnClass="btn btn-sm btn-danger" (confirm)="handleSpecDeleteRequested(spec)">
            Remove this Challenge
        </app-confirm-button>
    </div>
</div>
