@import "../../../../scss/variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

cf-console {
  display: block;
  height: 100vh;
  width: 100vw;
}

.layout-container {
  position: relative;

  .console-status {
    align-items: stretch;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .clock {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 8px;
    font-size: 2rem;
    text-align: center;
  }

  .is-view-only {
    border: 2px solid red;
  }

  .view-only-warning {
    background-color: red;
    color: #fff;
    flex: 0 1 auto;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
  }
}
