@use "sass:color";
@import "theme/theme";

.dropzone-active {
  background-color: rgba(215, 154, 254, 0.5);
  border-radius: 0.25rem;
  border: 0.25rem dashed darkorchid !important ;
}
.dropzone {
  border: 0.25rem dashed rgba(128, 128, 128, 0.614);
  border-radius: 0.25rem;
  padding: 0.25rem;
}
.scroll-x {
  overflow-x: scroll;
}
img {
  cursor: pointer;
  max-height: 180px;
  background-color: white;
}
.img {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  border-radius: 0.25rem;
  background-color: rgba(whitesmoke, 0.7);
}
.background-icon {
  margin: auto;
  opacity: 20%;
  font-size: 400%;
}

.no-preview {
  background-color: white;
  width: 180px;
  height: 180px;
  overflow: hidden;
}
.no-preview-icon {
  opacity: 80%;
  font-size: 80px;
}

// for table scroll bar to match theme
::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: $light;
}

::-webkit-scrollbar-thumb:hover {
  background: color.adjust($light, $lightness: -5%);
}
