<table *ngIf="certs$ | async as certs; else loading" class="table table-striped table-hover gameboard-table">
  <col class="width-50">
  <col class="width-15">
  <col class="width-35">

  <thead class="thead-light">
    <tr class="headers">
      <th scope="col">Game</th>
      <th scope="col">Rank</th>
      <th scope="col">Leaderboard Name</th>
    </tr>
  </thead>

  <tbody>
    <tr class="data-row cursor-pointer" *ngFor="let cert of certs" (click)="print(cert)"
      tooltip="Open this certificate in a new tab" placement="right">
      <td>
        <a class="btn btn-link d-block text-left p-0" [routerLink]="['/', 'game', cert.game.id]"><span
            class="h5">{{cert.game.name}}</span></a>
        <div class="text-muted">
          <span> {{cert.game.gameEnd | shortdate}}</span>
        </div>
      </td>
      <td>
        <span class="text-center">{{cert.player.rank}} <fa-icon [icon]=" faMedal"></fa-icon></span>
      </td>
      <td>
        <span><fa-icon [icon]="cert.game.allowTeam ? faUsers : faUser"></fa-icon>
          {{cert.player.approvedName}}</span>
      </td>
    </tr>
  </tbody>
</table>

<ng-container *ngIf="!(certs$ | async)?.length">
  <div class="text-center text-muted my-4">
    No certificates yet
  </div>
</ng-container>

<ng-template #loading>
  <div class="text-center">
    <app-spinner></app-spinner>
  </div>
</ng-template>
