<app-error-div [errors]="errors"></app-error-div>
<ng-container *ngIf="playerContext && challengeSpec">
    <div class="d-flex align-items-start mb-4">
        <div class="challenge-doc-container flex-grow-1">
            <ng-container *ngIf="isDeploying">
                <app-challenge-deploy-countdown *ngIf="isDeploying && challengeSpec"
                    [deploySeconds]="challengeSpec.averageDeploySeconds"></app-challenge-deploy-countdown>
            </ng-container>

            <ng-container *ngIf="isUndeploying">
                <app-spinner>Stopping challenge resources...</app-spinner>
            </ng-container>

            <ng-container *ngIf="!isDeploying && !isUndeploying && challenge">
                <alert *ngIf="showMiniPlayerPrompt" type="info" class="my-3" [dismissible]="true">
                    <h2>Check out the new challenge resources panel!</h2>

                    <p>
                        <span class="fw-bold cursor-pointer" (click)="toggleMiniPlayer()">Click here</span> to "sticky"
                        the Challenge panel so it's always visible as you scroll down the page. (You can return the
                        panel to the bottom of the page at any time by clicking the appropriate link in the panel.)
                    </p>
                </alert>

                <p class="challenge-document-text">
                    <markdown [data]="challenge.challengeDeployment.markdown"></markdown>
                </p>

                <ng-container *ngIf="!isMiniPlayerSelected">
                    <h3><ng-container *ngTemplateOutlet="challengeConsolesText"></ng-container></h3>
                    <div class="vms-container my-4">
                        <ul class="d-flex flex-wrap">
                            <li *ngFor="let vm of challenge.challengeDeployment.vms">
                                <a class="btn btn-sm btn-dark mr-2 d-block" [href]="vmUrls[vm.id] | safeurl"
                                    target="_blank" role="button">
                                    <fa-icon [icon]="fa.tv"></fa-icon>
                                    <span>{{vm.name}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="vm-controls-container my-4">
                        <app-confirm-button *ngIf="challenge.challengeDeployment.isDeployed"
                            btnClass="btn btn-sm btn-outline-warning mr-2"
                            (confirm)="undeployVms(challenge.challengeDeployment.challengeId)">
                            <fa-icon [icon]="fa.trash"></fa-icon>
                            <span>Destroy</span>
                        </app-confirm-button>
                        <app-confirm-button *ngIf="!challenge.challengeDeployment.isDeployed"
                            btnClass="btn btn-sm btn-outline-warning"
                            (confirm)="deployVms(challenge.challengeDeployment.challengeId)">
                            <fa-icon [icon]="fa.bolt"></fa-icon>
                            <span>Deploy</span>
                        </app-confirm-button>
                    </div>

                    <div *ngIf="legacyContext.boardSpec?.instance?.state?.challenge?.questions?.length" class="my-5">
                        <h3>Challenge Questions</h3>
                        <app-gamespace-quiz [spec]="legacyContext.boardSpec!"
                            [session]="legacyContext.session!"></app-gamespace-quiz>
                    </div>

                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <button type="button" class="btn btn-info btn-sm"
                                *ngIf="isMiniPlayerAvailable && !isMiniPlayerSelected" (click)="toggleMiniPlayer()">Use
                                Sticky
                                Challenge Panel</button>
                        </div>
                        <div>
                            Support Code:
                            <app-clipspan class="text-info m-2 p-2">
                                {{ { id: challenge.challengeDeployment.challengeId } | toSupportCode }}
                            </app-clipspan>
                        </div>

                        <div>
                            Need Challenge Support?
                            <span class="ml-2 pl-2">
                                <a class="btn btn-success" target="_blank" [routerLink]="['/support/create']"
                                    [queryParams]="{cid: challenge.challengeDeployment.challengeId}">
                                    <span>Create Ticket</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>

        <div *ngIf="isMiniPlayerAvailable && isMiniPlayerSelected && !isDeploying && !isUndeploying && challenge?.challengeDeployment"
            class="mini-player-container">
            <ng-container *ngTemplateOutlet="miniPlayer"></ng-container>
        </div>
    </div>
</ng-container>

<ng-template #miniPlayer>
    <ng-container *ngIf="challenge && !isDeploying && !isUndeploying">
        <h5><ng-container *ngTemplateOutlet="challengeConsolesText"></ng-container></h5>

        <div *ngIf="challenge?.challengeDeployment?.vms?.length" class="vms-container my-4">
            <ul class="d-flex flex-wrap">
                <li *ngFor="let vm of challenge.challengeDeployment.vms">
                    <a class="btn btn-sm btn-dark mr-2 d-block" [href]="vmUrls[vm.id] | safeurl" target="_blank"
                        role="button">
                        <fa-icon [icon]="fa.computer"></fa-icon>
                        <span> {{vm.name}}</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="vm-controls-container my-4">
            <app-confirm-button *ngIf="challenge.challengeDeployment.isDeployed"
                btnClass="btn btn-sm btn-outline-warning mr-2"
                (confirm)="undeployVms(challenge.challengeDeployment.challengeId)">
                <fa-icon [icon]="fa.trash"></fa-icon>
                <span>Destroy</span>
            </app-confirm-button>
            <app-confirm-button *ngIf="!challenge.challengeDeployment.isDeployed"
                btnClass="btn btn-sm btn-outline-warning"
                (confirm)="deployVms(challenge.challengeDeployment.challengeId)">
                <fa-icon [icon]="fa.bolt"></fa-icon>
                <span>Deploy</span>
            </app-confirm-button>
        </div>

        <div *ngIf="legacyContext.boardSpec?.instance?.state?.challenge?.questions?.length" class="my-3">
            <h5>Questions</h5>
            <app-gamespace-quiz [spec]="legacyContext.boardSpec!"
                [session]="legacyContext.session!"></app-gamespace-quiz>
        </div>

        <hr class="light">

        <div *ngIf="solutionGuide" class="my-4">
            <h5>Solution Guide</h5>

            <p>
                Having trouble? We've created a step-by-step solution guide for this challenge. If you get
                stuck, you can find it <a class="text-info" [href]="solutionGuide.url" target="_blank">here</a>.
            </p>
        </div>

        <div class="support-container mt-4">
            <h5>Need help?</h5>

            <ul class="support-links li-style-type-circle">
                <li>
                    <a class="text-info" target="_blank" [routerLink]="['/support/create']"
                        [queryParams]="{cid: challenge.challengeDeployment.challengeId}">
                        <span>Open a ticket</span>
                    </a>
                </li>
                <li>
                    If you need it, your support code is
                    <span class="text-info fw-bold cursor-pointer" appCopyOnClick>
                        {{ { id: challenge.challengeDeployment.challengeId } | toSupportCode }}
                    </span>
                </li>
            </ul>
        </div>

        <hr class="light">

        <div class="text-muted">
            Click
            <span class="cursor-pointer text-info" role="button" (click)="toggleMiniPlayer()">here</span>
            to deactivate the sticky Challenge panel
        </div>
    </ng-container>
</ng-template>

<ng-template #miniPlayerLoading>
    <app-spinner>Loading your challenge...</app-spinner>
</ng-template>

<ng-template #challengeConsolesText>
    Challenge {{ "Console" | pluralizer:vmUrls }}
</ng-template>
