@import "../../../../scss/variables";

.mini-player-container {
  background-color: $gray-900;
  border-radius: 6px;
  border: solid 1px $info;
  font-size: 0.95rem;
  margin-left: 24px;
  padding: 8px;
  width: 360px;
}
