/* You can add global styles to this file, and also import other style files */

@import './scss/variables';
@import './scss/toastify';

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/code";
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/tables";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/dropdown";
@import "../../../node_modules/bootstrap/scss/button-group";
@import "../../../node_modules/bootstrap/scss/input-group";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/card";
@import "../../../node_modules/bootstrap/scss/badge";
@import "../../../node_modules/bootstrap/scss/jumbotron";
@import "../../../node_modules/bootstrap/scss/alert";
@import "../../../node_modules/bootstrap/scss/progress";
@import "../../../node_modules/bootstrap/scss/media";
@import "../../../node_modules/bootstrap/scss/close";
@import "../../../node_modules/bootstrap/scss/modal";
@import "../../../node_modules/bootstrap/scss/tooltip";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/print";
@import "../../../node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss";

@import './scss/bootswatch';

@each $color,
$value in $theme-colors {
  .pop-#{$color} {
    background-color: theme-color-level($color, -8);
    color: $dark;
    border: $value solid 2px;
    border-radius: .25rem;
  }
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

ol,
ul {
  padding-inline-start: 0;
}

/* In the majority of cases, we style <li>s in a custom way */
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* ... but for markdown we just go with the classics  */
markdown ul li {
  list-style-type: disc;
  padding: unset;
  margin-left: 1rem;
}

markdown ol li {
  list-style-type: unset;
  padding: unset;
  margin-left: 1rem;
}

app-root {
  display: block;
  min-height: 100vh;
}

.reader-slim {
  max-width: 600px;
  margin: 0 auto;
}

.reader {
  max-width: 800px;
  margin: 0 auto;
}

.font-weight-light {
  font-weight: lighter;
}

.fs-08 {
  font-size: 0.8rem;
}

.fs-09 {
  font-size: 0.9rem;
}

.fs-10 {
  font-size: 1rem;
}

.fs-11 {
  font-size: 1.1rem;
}

.fs-12 {
  font-size: 1.2rem;
}

.fs-13 {
  font-size: 1.3rem;
}

.fs-15 {
  font-size: 1.5rem;
}

.fs-20 {
  font-size: 2em;
}

.colorblind-danger {
  color: lighten($danger, 20%);
}

.auto-h {
  height: auto;
}

fa-icon + span {
  margin-left: 4px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

/* TABLE-Y STUFF */

th[align="right"] {
  text-align: right;
}

th[align="center"] {
  text-align: center;
}

.spacer {
  flex: 1;
}

.label {
  padding: .375rem .25rem !important;
  min-width: 240px;
  margin: 0;
}

.form-group {
  padding: 1.5rem;
  margin-bottom: .5rem;
  border-radius: .25rem;
}

.form-group > .form-control {
  font-size: .875rem !important;
  padding: .25rem .5rem !important;
}

.form-group > label {
  font-size: .875rem !important;
}

.nav-tabs {
  margin: 1.5rem 0 2rem 0;
}

.untack > svg {
  transform: rotate(45deg);
}

.jambotron {
  margin: 6rem auto;
}

alert {
  display: block;

  p {
    margin-block-end: 0;
    margin-bottom: 0;
  }
}

a[routerLink] {
  cursor: pointer;
}

.nav-tabs li {
  font-weight: bold;
  font-size: 1.2rem;
}

app-spinner svg {
  rect,
  path {
    fill: theme-color("success");
  }
}

.gray-text {
  color: #767676;
}

.text-black {
  color: black;
}

// bootstrap tooltip styled to show up on dark theme
.light-tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: white;
}

.light-tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: white;
}

.light-tooltip.bs-tooltip-right .tooltip-arrow::before {
  border-right-color: white;
}

.light-tooltip.bs-tooltip-left .tooltip-arrow::before {
  border-left-color: white;
}

.light-tooltip .tooltip-inner {
  background-color: white;
  color: black;
}

hr.light {
  border-color: #dddddd;
}

// override bootstrap tabs to play nice with custom backgrounds
tabset a.nav-link.active {
  border-color: #fff !important;
  border-width: 1px 1px 0 1px;
  border-bottom-color: transparent !important;
}

.custom-bg-black {
  background-color: #000000;
}

.custom-bg-red {
  background-color: #422;
}

.custom-bg-orange {
  background-color: #431;
}

.custom-bg-yellow {
  background-color: #442;
}

.custom-bg-green {
  background-color: #1c3417;
}

.custom-bg-blue {
  background-color: #183248;
}

.custom-bg-purple {
  background-color: #424;
}

// reboot.css breaks th alignment, so set explicitly
th[align="left"] {
  text-align: left;
}

// _reboot.scss does weird stuff to checkboxes apparently for the sake of IE10, so... just don't
.form-control input[type="checkbox"] {
  position: static;
  padding: 0;
  margin: 0;
}

.color-foreground {
  color: $foreground;
}

.cursor-pointer {
  cursor: pointer;
}

.page-width {
  width: 1380px;
  max-width: 100%;
}

.page-min-height {
  min-height: 85vh;
}

.flex-basis-50 {
  flex-basis: 50%;
}

.full-width {
  width: 100%;
}

.gameboard-table {
  width: 100%;

  thead {
    border-bottom: solid 1px $foreground;
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 100%;

    th {
      padding-bottom: 0.5rem;
    }
  }
}

.text-capitalize {
  text-transform: capitalize;
}

.text-upper {
  text-transform: uppercase;
}

.width-5 {
  width: 5%;
}

.width-10 {
  width: 10%;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-25 {
  width: 25%;
}

.width-30 {
  width: 30%;
}

.width-35 {
  width: 35%;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.link-button {
  color: theme-color("info");
  cursor: pointer;
}

.ticket-status-badge {
  font-size: 0.8rem;
  line-height: 0.85rem;
}
