<div class="game-yaml-import-modal-component">
    <div class="modal-header">
        <div class="headers modal-title pull-left">
            <h2>Import Game YAML</h2>
        </div>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="handleClose()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <textarea #yamlIn class="form-control font-fixed-width" rows="12" appAutofocus
            placeholder="Paste your game's YAML configuration here. If you want to use another game's configuration as a starting point, you can copy it from its game card."></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="handleImportClick(yamlIn.value)">Import</button>
    </div>
</div>
