<div class="external-game-page-component page-min-height d-flex flex-column align-items-center justify-content-center">
    <ng-container *ngIf="game && iframeSrcUrl; else loading">
        <div class="external-host-container">
            <iframe [src]="iframeSrcUrl | safeurl" id="external-game-frame" [title]="iframeWindowTitle" frameborder="0"
                scrolling="no" (load)="handleIframeLoad()"></iframe>
        </div>

        <app-error-div [errors]="errors"></app-error-div>

        <div *ngIf="!isProduction" class="connecting-to-host">
            <p class="connecting-to-launch-p"><strong>Connecting to external game at</strong></p>
            <p>{{ externalClientUrl }}</p>
        </div>
    </ng-container>

    <ng-template #loading>
        <app-spinner></app-spinner>
    </ng-template>
</div>
