<ng-container *ngIf="gameCenterCtx as ctx; else loading">
    <div class="hero-thing mt-4 mb-5 d-flex flex-wrap align-content-center">
        <app-game-card-image [game]="ctx"></app-game-card-image>
        <div class="game-info-container d-flex flex-column ml-3">
            <h1 class="fs-25 m-0">{{ ctx.name }}</h1>

            <h2 class="fs-13 font-weight-bold text-success text-upper">
                {{ ctx.isExternal ? "External" : "Standard" }}
                {{ ctx.isPractice ? "Practice" : "Competitive" }}
                {{ ctx.isTeamGame ? "Team" : "Individual" }}
                Game
            </h2>

            <div class="flex-grow-1"></div>
            <div>
                <h3 class="fs-12">
                    {{ ctx | gameClassificationToString }}
                </h3>
                <h4 class="fs-10" *ngIf="ctx.executionWindow.start && ctx.executionWindow.end">
                    {{ ctx.executionWindow.start | friendlyDateAndTime }}
                    &mdash;
                    {{ ctx.executionWindow.end | friendlyDateAndTime }}
                </h4>

                <div *ngIf="!ctx.isPractice && (ctx.isLive || ctx.isRegistrationActive)"
                    class="d-flex align-content-center mt-2">
                    <div *ngIf="!ctx.isPublished" class="badge badge-warning mr-2 text-upper p-1">Unpublished</div>
                    <div *ngIf="ctx.isRegistrationActive" class="badge badge-success text-upper mr-2 p-1">
                        Registration Available
                    </div>
                    <div *ngIf="ctx.isLive" class="badge badge-success text-upper p-1">Live</div>
                </div>
            </div>
        </div>
    </div>

    <div class="stats-container mt-4 d-flex flex-wrap align-items-baseline justify-content-between">
        <app-big-stat *ngIf="ctx.stats.teamCountNotStarted" [value]="ctx.stats.teamCountNotStarted"
            [label]="(ctx.isTeamGame ? 'Teams' : 'Players') + ' not started'"></app-big-stat>
        <app-big-stat [value]="ctx.stats.playerCountActive" label="Active players"></app-big-stat>
        <app-big-stat *ngIf="ctx.isTeamGame" [value]="ctx.stats.teamCountActive" label="Active teams"></app-big-stat>
        <app-big-stat [value]="ctx.stats.playerCountTotal" label="Total players"></app-big-stat>
        <app-big-stat *ngIf="ctx.isTeamGame" [value]="ctx.stats.teamCountTotal" label="Total teams"></app-big-stat>
        <app-big-stat *ngIf="ctx.stats.topScore" [value]="ctx.stats.topScore" label="Top Performance"
            [subLabel]="ctx.stats.topScoreTeamName"></app-big-stat>
        <app-big-stat *ngIf="ctx.isPractice" [value]="ctx.stats.attemptCountPractice"
            label="Practice attempts"></app-big-stat>
    </div>

    <div class="tabs-container d-block mt-4">
        <!--have to do a manual bootstrap tabset here because dumb ngx-bootstrap mutilates tab order if you use structurals-->
        <ul role="tablist" class="nav nav-tabs" aria-label="tabs">
            <li *appIfHasPermission="'Games_CreateEditDelete'">
                <ng-container
                    *ngTemplateOutlet="tabIconItem; context: { $implicit: { tabKey: 'settings', icon: fa.gear, routerLink: 'settings' } }"></ng-container>
            </li>
            <li *appIfHasPermission="'Games_CreateEditDelete'">
                <ng-container
                    *ngTemplateOutlet="tabItem; context: { $implicit: { tabKey: 'challenges', label: 'Challenges (' + ctx.challengeCount + ')', routerLink: 'challenges' } }"></ng-container>
            </li>
            <li>
                <ng-container
                    *ngTemplateOutlet="tabItem; context: { $implicit: { tabKey: 'teams', routerLink: 'teams', label: (ctx.isTeamGame ? 'Teams' : 'Players') + ' (' + ctx.stats.teamCountCompetitive + ')' } }"></ng-container>
            </li>
            <li *ngIf="ctx.isPractice">
                <ng-container
                    *ngTemplateOutlet="tabItem; context: { $implicit: { tabKey: 'practice', routerLink: 'practice', label: 'Practice' + ' (' + ctx.stats.playerCountPractice + ')' } }"></ng-container>
            </li>
            <li *ngIf="ctx.isExternal">
                <ng-container
                    *ngTemplateOutlet="tabItem; context: { $implicit: { tabKey: 'deployment', label: 'Deployment', routerLink: 'deployment' } }"></ng-container>
            </li>
            <li *appIfHasPermission="'Teams_Observe'">
                <ng-container
                    *ngTemplateOutlet="tabItem; context: { $implicit: { tabKey: 'observe', label: 'Observe', routerLink: 'observe' } }"></ng-container>
            </li>
            <li *ngIf="ctx.hasScoreboard">
                <ng-container
                    *ngTemplateOutlet="tabItem; context: { $implicit: { tabKey: 'scoreboard', label: 'Scoreboard', routerLink: 'scoreboard' } }"></ng-container>
            </li>
            <li>
                <ng-container
                    *ngTemplateOutlet="tabItem; context: { $implicit: { tabKey: 'tickets', routerLink: 'tickets', label: 'Tickets' + (ctx.openTicketCount ? ' (' + ctx.openTicketCount + ')' : '') } }"></ng-container>
            </li>
        </ul>

        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</ng-container>

<ng-template #loading>
    <app-spinner>Loading the game...</app-spinner>
</ng-template>

<ng-template #tabItem let-tabCtx>
    <li class="nav-item" [class.active]="selectedTab === tabCtx.tabKey" (click)="handleSelect(tabCtx.tabKey)">
        <a class="nav-link" [class.active]="selectedTab === tabCtx.tabKey" [routerLink]="tabCtx.routerLink">{{
            tabCtx.label }}</a>
    </li>
</ng-template>

<ng-template #tabIconItem let-tabCtx>
    <li class="nav-item" [class.active]="selectedTab === tabCtx.tabKey" (click)="handleSelect(tabCtx.tabKey)">
        <a class="nav-link" [class.active]="selectedTab === tabCtx.tabKey" [routerLink]="tabCtx.routerLink">
            <fa-icon [icon]="tabCtx.icon"></fa-icon>
        </a>
    </li>
</ng-template>
