<ng-container *ngIf="gameCenterCtx as ctx; else loading">
    <div class="hero-thing mt-4 mb-5 d-flex flex-wrap align-content-center">
        <app-game-card-image class="d-block" [game]="ctx"></app-game-card-image>
        <div class="game-info-container d-flex flex-column ml-3">
            <h1 class="fs-20 m-0">{{ ctx.name }}</h1>

            <h2 class="fs-13 font-weight-bold text-info text-upper">
                {{ ctx.isExternal ? "External" : "Standard" }}
                {{ ctx.isPractice ? "Practice" : "Competitive" }}
                {{ ctx.isTeamGame ? "Team" : "Individual" }}
                Game
            </h2>

            <div class="flex-grow-1"></div>
            <div>
                <h3 class="fs-12">
                    {{ ctx | gameClassificationToString }}
                </h3>
                <h4 class="fs-10" *ngIf="ctx.executionWindow.start && ctx.executionWindow.end">
                    {{ ctx.executionWindow.start | friendlyDateAndTime }}
                    &mdash;
                    {{ ctx.executionWindow.end | friendlyDateAndTime }}
                </h4>

                <div *ngIf="!ctx.isPractice && (ctx.isLive || ctx.isRegistrationActive)"
                    class="d-flex align-content-center mt-2">
                    <div *ngIf="!ctx.isPublished" class="badge badge-warning mr-2 text-upper p-1">Unpublished</div>
                    <div *ngIf="ctx.isRegistrationActive" class="badge badge-info text-upper mr-2 p-1">
                        Registration Available
                    </div>
                    <div *ngIf="ctx.isLive" class="badge badge-info text-upper p-1">Live</div>
                </div>
            </div>
        </div>
    </div>

    <div class="stats-container mt-4 d-flex flex-wrap align-items-baseline justify-content-between">
        <app-big-stat *ngIf="ctx.stats.teamCountNotStarted" [value]="ctx.stats.teamCountNotStarted"
            [label]="(ctx.isTeamGame ? 'Teams' : 'Players') + ' not started'"></app-big-stat>
        <app-big-stat [value]="ctx.stats.playerCountActive" label="Active players"></app-big-stat>
        <app-big-stat *ngIf="ctx.isTeamGame" [value]="ctx.stats.teamCountActive" label="Active teams"></app-big-stat>
        <app-big-stat [value]="ctx.stats.playerCountTotal" label="Total players"></app-big-stat>
        <app-big-stat *ngIf="ctx.isTeamGame" [value]="ctx.stats.teamCountTotal" label="Total teams"></app-big-stat>
        <app-big-stat *ngIf="ctx.stats.topScore" [value]="ctx.stats.topScore" label="Top Performance"
            [subLabel]="ctx.stats.topScoreTeamName"></app-big-stat>
        <app-big-stat *ngIf="ctx.isPractice" [value]="ctx.stats.attemptCountPractice"
            label="Practice attempts"></app-big-stat>
    </div>

    <div class="tabs-container d-block mt-4">
        <tabset>
            <tab [active]="selectedTab === 'settings'"
                [class]="(localUser$ | async | can:'Games_CreateEditDelete') ? '' : 'd-none'"
                (selectTab)="handleSelect('settings')">
                <ng-template tabHeading>
                    <a routerLink="settings">
                        <fa-icon [icon]="fa.gear"></fa-icon>
                    </a>
                </ng-template>
            </tab>
            <tab [active]="selectedTab === 'challenges'"
                [class]="(localUser$ | async | can:'Games_CreateEditDelete') ? '' : 'd-none'"
                (selectTab)="handleSelect('challenges')">
                <ng-template tabHeading>
                    <a routerLink="challenges">
                        Challenges {{(ctx.challengeCount ? ' (' + ctx.challengeCount + ')' : '') }}
                    </a>
                </ng-template>
            </tab>
            <tab [active]="selectedTab === 'teams'" (selectTab)="handleSelect('teams')">
                <ng-template tabHeading>
                    <a routerLink="teams">
                        {{ ctx.isTeamGame ? 'Teams' : 'Players' }} ({{ ctx.stats.teamCountCompetitive }})
                    </a>
                </ng-template>
            </tab>
            <tab [active]="selectedTab === 'practice'" (selectTab)="handleSelect('practice')"
                [class]="ctx.isPractice ? '' : 'd-none'">
                <ng-template tabHeading>
                    <a routerLink="practice">Practice ({{ ctx.stats.playerCountPractice }})</a>
                </ng-template>
            </tab>
            <tab [active]="selectedTab === 'deployment'" (selectTab)="handleSelect('deployment')"
                [class]="ctx.isExternal ? '' : 'd-none'">
                <ng-template tabHeading>
                    <a routerLink="deployment">Deployment</a>
                </ng-template>
            </tab>
            <tab [active]="selectedTab === 'scoreboard'" (selectTab)="handleSelect('scoreboard')"
                [class]="ctx.hasScoreboard ? '' : 'd-none'">
                <ng-template tabHeading>
                    <a routerLink="scoreboard">Scoreboard</a>
                </ng-template>
            </tab>
            <tab [active]="selectedTab === 'observe'"
                [class]="(localUser$ | async | can:'Teams_Observe') ? '' : 'd-none'"
                (selectTab)="handleSelect('observe')">
                <ng-template tabHeading>
                    <a routerLink="observe">
                        Observe
                    </a>
                </ng-template>
            </tab>
            <tab [active]="selectedTab === 'tickets'" (selectTab)="handleSelect('tickets')" routerLink="tickets">
                <ng-template tabHeading>
                    <a routerLink="tickets">
                        Tickets {{ (ctx.openTicketCount ? ' (' + ctx.openTicketCount + ')' : '') }}
                    </a>
                </ng-template>
            </tab>
        </tabset>

        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</ng-container>

<ng-template #loading>
    <app-spinner>Loading the game...</app-spinner>
</ng-template>
