.about-filters-link {
    font-size: 1.25rem;
}

.export-label {
    font-size: 1.25rem;
}

.csv-export-button {
    border-right: solid 1px #ffffff;
}

.pdf-export-button {
    border-left: solid 1px #ffffff;
}
