@import "theme/theme";

:host {
  display: block;
  height: 100%;
}

.component-container {
  background-color: unset;
  color: $success;
  text-decoration: dotted;

  &.active {
    background-color: $success;
    color: $body-color;
  }
}
