.team-leader {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.team-leader-name {
    flex-shrink: 1;
}

.team-leader-name-text {
    font-size: 1.6em;
    line-height: 1.3rem;
    margin: 0;
    padding: 0;
}

.team-header {
    font-size: 1.15rem;
    font-weight: bold;
    color: #aaaaaa;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.player-tags li {
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
}
