<app-error-div [errors]="errors"></app-error-div>

<ng-container *ngIf="challengeSpec">
    <div class="d-flex align-items-start container mb-4">
        <div class="challenge-doc-container container flex-grow-1">
            <ng-container *ngIf="(deployState$ | async) === 'deploying'">
                <app-challenge-deploy-countdown *ngIf="challengeSpec"
                    [deploySeconds]="challengeSpec.averageDeploySeconds"></app-challenge-deploy-countdown>
            </ng-container>

            <ng-container *ngIf="challenge">
                <alert *ngIf="showStickyChallengePanelPrompt" type="info" class="my-3" [dismissible]="true">
                    <h2>Check out the new sticky Challenge panel!</h2>

                    <p>
                        <span class="fw-bold cursor-pointer"
                            (click)="setIsStickyPanelEnabled(!isStickyChallengePanelSelected)">
                            Click here
                        </span>
                        to "sticky" the Challenge panel so it's always visible as you scroll down the page.
                        (You can return the panel to the bottom of the page at any time by clicking the appropriate link
                        in the panel.)
                    </p>
                </alert>

                <p *ngIf="challenge.markdown" class="challenge-document-text mb-5">
                    <markdown [data]="challenge.markdown"></markdown>
                </p>

                <ng-container
                    *ngIf="challenge && (!isStickyChallengePanelSelected || !isStickyChallengePanelAvailable)">
                    <ng-container *ngTemplateOutlet="solutionGuideAlert"></ng-container>

                    <h2>Challenge Consoles</h2>
                    <ng-container *ngTemplateOutlet="vms"></ng-container>

                    <div *ngIf="challenge.isDeployed" class="my-5">
                        <h2 class="mb-4">Challenge Questions</h2>
                        <app-challenge-questions [challengeId]="challenge.id"></app-challenge-questions>
                    </div>

                    <div class="d-flex align-items-baseline sticky-controls-container p-2 bg-body rounded-top">
                        <div class="flex-grow-1">
                            <button type="button" class="btn btn-sm btn-success"
                                *ngIf="isStickyChallengePanelAvailable && !isStickyChallengePanelSelected"
                                (click)="setIsStickyPanelEnabled(!this.isStickyChallengePanelSelected)">
                                Use Sticky Challenge Panel
                            </button>
                        </div>
                        <div class="mr-4">
                            Support Code:
                            <span class="btn btn-link font-weight-bold" appCopyOnClick
                                tooltip="Click to copy your challenge support code">
                                {{ { id: challenge.id } | toSupportCode }}
                            </span>
                        </div>

                        <div>
                            Having trouble?

                            <a class="btn btn-sm btn-warning fw-bold ml-2" target="_blank"
                                [routerLink]="['/support/create']" [queryParams]="{cid: challenge.id}">
                                <span>Create Ticket</span>
                            </a>
                        </div>
                    </div>
                </ng-container>

                <div id="feedback" *ngIf="challenge.feedbackTemplateId" class="mt-4 feedback-container">
                    <h2>Challenge Feedback</h2>
                    <app-feedback-submission-form
                        [feedbackEntity]="{ id: challenge.spec.id, entityType: 'challengeSpec' }"
                        [templateId]="challenge.feedbackTemplateId"></app-feedback-submission-form>
                </div>
            </ng-container>
        </div>

        <div *ngIf="isStickyChallengePanelAvailable && isStickyChallengePanelSelected" class="mini-player-container">
            <ng-container *ngTemplateOutlet="stickyChallengePanel"></ng-container>
        </div>
    </div>
</ng-container>

<ng-template #stickyChallengePanel>
    <ng-container *ngIf="challenge">
        <ng-container *ngTemplateOutlet="solutionGuideAlert"></ng-container>

        <h5>Challenge Consoles</h5>
        @if (consoles().length)
        {
        <ul class="sticky-panel console-list d-flex">
            @for(console of consoles(); track console.linkUrl)
            {
            <li>
                <app-vm-link [vm]="{ name: console.name, url: console.linkUrl }"></app-vm-link>
            </li>
            }
        </ul>
        }

        <div *ngIf="challenge.id" class="my-3">
            <h5>Questions</h5>
            <app-challenge-questions [challengeId]="challenge.id" size="compact"></app-challenge-questions>
        </div>

        <ng-container *ngIf="challenge.feedbackTemplateId">
            <hr class="light">
            <p>
                Have feedback for us?
                <a routerLink="." fragment="feedback">Submit it here</a>.
            </p>
        </ng-container>

        <hr class="light">

        <div class="support-container mt-4">
            <h5>Need help?</h5>

            <ul class="support-links li-style-type-circle ml-2">
                <li>
                    <a target="_blank" [routerLink]="['/support/create']" [queryParams]="{cid: challenge.id}">
                        <span>Open a ticket</span>
                    </a>
                </li>
                <li>
                    If you need it, your support code is
                    <span class="btn-link" appCopyOnClick>
                        {{ { id: challenge.id } | toSupportCode }}
                    </span>
                </li>
            </ul>
        </div>

        <hr class="light">

        <div class="text-muted">
            Click <span class="btn-link text-success" role="button"
                (click)="setIsStickyPanelEnabled(!isStickyChallengePanelSelected)">here</span>
            to deactivate the sticky Challenge panel
        </div>
    </ng-container>
</ng-template>

<ng-template #solutionGuideAlert>
    <alert *ngIf="solutionGuide" type="success" class="my-4">
        <h2 [class.fs-12]="isStickyChallengePanelSelected">Solution Guide</h2>

        <p>
            Having trouble? We've created a step-by-step solution guide for this challenge. If you get
            stuck, you can find it <a class="fw-bold" [href]="solutionGuide.url" target="_blank">here</a>.
        </p>
    </alert>
</ng-template>

<ng-template #vms>
    <div class="vms-container my-4" *ngIf="deployState$ | async as deployState">
        <ng-container *ngIf="deployState === 'deployed'">
            <ng-container *ngTemplateOutlet="vmsDeployed"></ng-container>
        </ng-container>

        <ng-container *ngIf="deployState === 'deploying'">
            <ng-container *ngTemplateOutlet="vmsDeploying"></ng-container>
        </ng-container>

        <ng-container *ngIf="deployState === 'undeployed'">
            <ng-container *ngTemplateOutlet="vmsUndeployed"></ng-container>
        </ng-container>

        <ng-container *ngIf="deployState == 'undeploying'">
            <ng-container *ngTemplateOutlet="vmsUndeploying"></ng-container>
        </ng-container>

        <ng-container *ngIf="challenge && (deployState === 'deployed' || deployState === 'undeployed')">
            <div class="vm-controls-container my-4">
                <app-confirm-button *ngIf="deployState === 'deployed'" btnClass="btn btn-sm btn-outline-warning mr-2"
                    (confirm)="undeployVms(challenge.id)">
                    <fa-icon [icon]="fa.trash"></fa-icon>
                    <span>Destroy</span>
                </app-confirm-button>
                <app-confirm-button *ngIf="deployState === 'undeployed'" btnClass="btn btn-sm btn-outline-warning"
                    (confirm)="deployVms(challenge.id)">
                    <fa-icon [icon]="fa.bolt"></fa-icon>
                    <span>Deploy</span>
                </app-confirm-button>
            </div>
        </ng-container>
    </div>
</ng-template>

<ng-template #vmsDeployed>
    @if (consoles().length)
    {
    <ul *ngIf="consoles().length" class="d-flex flex-wrap consoles-container">
        @for (console of consoles(); track console.linkUrl)
        {
        <li>
            <a [href]="console.linkUrl" target="_blank">
                <cf-console-tile [config]="console.config"></cf-console-tile>
                <p class="console-label">{{ console.name }}</p>
            </a>
        </li>
        }
    </ul>
    }
</ng-template>

<ng-template #vmsDeploying>
    <app-spinner>Starting your challenge consoles...</app-spinner>
</ng-template>

<ng-template #vmsUndeploying>
    <app-spinner>Stopping your challenge consoles...</app-spinner>
</ng-template>

<ng-template #vmsUndeployed>
    <div class="text-muted">
        Your challenge consoles are currently undeployed. Click <strong>Deploy</strong> to bring them back up.
    </div>
</ng-template>
