<h2>Support Settings</h2>

<div class="settings-section mt-4 mb-4" *ngIf="settings; else loading">
    <h3>Greeting</h3>
    <p>
        This text appears as a banner on the Support page to welcome players. Edit it below
        to customize it to your needs.
    </p>

    <label for="supportPageGreeting">Enter a greeting (allows markdown)</label>
    <textarea id="supportPageGreeting" rows="8" [placeholder]="'Welcome to **{{appName}}** Support!'"
        class="form-control" name="supportPageGreeting" [(ngModel)]="settings.supportPageGreeting"
        (input)="handleSettingsChanged()"></textarea>

    <h3 class="mt-5">Ticket Auto-Labeling</h3>

    <app-support-auto-tag-admin></app-support-auto-tag-admin>
</div>

<ng-template #loading>
    <app-spinner></app-spinner>
</ng-template>
