@import "../../../../scss/variables";

nav li {
    font-size: 1.25rem;
    margin-right: 0.25rem;
}

.export-label {
    font-size: 1.25rem;
}

.csv-export-button {
    border-right: solid 1px #ffffff;
}

.pdf-export-button {
    border-left: solid 1px #ffffff;
}

::ng-deep table.gameboard-report {
    width: 100%;

    th,
    td {
        padding: 4px 8px;
    }

    .data-row {
        border-bottom: dotted 1px #000000;
        font-size: 1.1rem;
    }

    td.count {
        padding-right: 16px;
        text-align: right;
    }

    .headers-row {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        border-bottom: solid 1px #ffffff;

        td:not(:first-of-type) {
            border-left: solid 1px #ffffff;
        }
    }

    .super-headers-row {
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
        border-bottom: solid 1px #ffffff;
        border-top: solid 1px #ffffff;
        text-transform: uppercase;

        th.group-header {
            border-left: solid 1px #ffffff;
        }
    }

    .tooltipped-value {
        border-bottom: dotted 1px $info;
        color: $info;
        cursor: pointer;
        font-weight: bold;
    }

    .overflow-to-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
