
.text-col {
    min-width: 500px;
}

.feedback-table {
    width: 100%;
}

.table-wrapper {
    overflow-x: auto;
}


.table-wrapper::-webkit-scrollbar {
    background: #00000000; 
}

.table-wrapper::-webkit-scrollbar-thumb {
    background: #434343; 
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
    background: #303030; 
}