
.text-col {
    min-width: 400px;
}

.num-col {
    min-width: 80px;
    max-width: 150px;
}

.table-cell {
    max-width: 900px;
}

.long-text {
    min-width: 800px;
}

.num-col > .prompt {
    max-width: 200px;
}

.q-id {
    opacity: 70%;
}

.time-col {
    min-width: 120px;
}

.feedback-table {
    width: 100%;
    // border-left: 1px solid rgba(68, 68, 68, 0.283);
}

.table-wrapper {
    overflow-x: auto;
}

td {
    white-space: normal;
    overflow-wrap: break-word;
}

// thead th {
//     vertical-align: text-top !important;
// }

.table-wrapper::-webkit-scrollbar {
    background: #00000000; 
}

.table-wrapper::-webkit-scrollbar-thumb {
    background: #434343; 
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
    background: #303030; 
}

.required {
    color: red;
    opacity: 40%;
    position: relative;
    top: -0.2rem;
    padding-left: 0.1rem;
}

.minimized > td > div {
    height: 80px;
    overflow: hidden;
}

:not(.minimized) > td, .minimized:hover {
    background-color: #30303046;
}

.table-row > td > div {
    min-height: 80px;
}

.table-row {
    cursor: pointer;
}

// .fixed {
//     position: sticky;
// }

// .table-header > tr > th {
//     position: sticky;
//     top:0;
// }