:host {
  display: block;
  width: 252px;
  height: 360px;
}

.game-header {
  border-bottom: 1px solid #363636;
}

.card {
  aspect-ratio: 1/1.44;
  background: #303030 center center/contain no-repeat;
  box-shadow: rgb(0 0 0 / 15%) 3px 3px 0;
  width: 100%;
  margin: 0;
}

.clickable {
  cursor: pointer;
  &:hover {
    animation: ease-in dim 0.3s forwards;
  }
}

@keyframes dim {
  100% {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
  }
}

.mode-logo {
  max-height: 38px;
}

.badge-tag {
  background: rgba(0, 0, 0, 0.5);
}

.badge-unpublished {
  background: white;
  color: rgba(0, 0, 0, 0.7);
}

.game-front {
  z-index: 2;
}

.game-type {
  font-size: 0.85rem;
}

.game-tag-bg h1 {
  font-family: "Impact", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3.85rem;
  line-height: 1.1;
}
