<div class="container">
    <h1 class="mb-4">Practice Area</h1>

    <p *ngIf="introTextMarkdown" class="mt-4 mb-5">
        <markdown [data]="introTextMarkdown"></markdown>
    </p>

    <ng-container *ngIf="list$ | async as list; else loading">
        <ng-container *ngIf="!localUserId">
            <alert type="warning">
                You haven't logged in yet - you'll need to do so before you can play practice challenges.
                <a routerLink="/login">Log in</a> to start honing your skills!
            </alert>
        </ng-container>
        <ng-container *ngIf="localUserId && !(hasSponsor$ | async)">
            <alert type="warning">
                You haven't selected your sponsoring organization yet - you'll need to before you can play practice
                challenges. Head over to your profile to select your sponsor, then return here to play!
            </alert>
        </ng-container>

        <div class="suggested-searches-container my-4" *ngIf="suggestedSearches?.length">
            <h2>Need a place to start?</h2>
            Try some of these suggested searches:

            <app-suggested-searches class="d-block mt-4" *ngIf="suggestedSearches?.length"
                [searches]="suggestedSearches"></app-suggested-searches>
        </div>

        <div class="input-group input-group-sm col-5 ml-auto mb-2 pr-0 mt-5">
            <app-share-button class="d-block mr-1" size="small"
                message="Copied a link to this search to your clipboard."
                tooltip="Copy a link to this search"></app-share-button>
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </span>
            </div>
            <input type="search" placeholder="search" class="form-control border-0" [(ngModel)]="term"
                [autofocus]="!!term"
                [appQueryParamModel]="{ name: 'term', debounce: 500, resetQueryParams: ['skip', 'take'] }">
        </div>

        <app-pager *ngIf="count > 0" [skip]="skip || 0" [take]="take || 0" [count]="count"
            (changed)="paged($event)"></app-pager>

        <table class="table" *ngIf="count > 0; else noMatches">
            <thead>
                <tr>
                    <th>Challenge</th>
                    <th>Description</th>
                    <th>Game</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of list">
                    <td class="align-middle">
                        <a *ngIf="canPlayPracticeChallenges$ | async" [routerLink]="[c.id, slug(c.name)]">
                            {{c.name}}
                        </a>
                        <p *ngIf="!(canPlayPracticeChallenges$ | async)" class="p-0 m-0 text-success cursor-pointer"
                            tooltip="Come back after selecting your sponsor to play this challenge.">{{c.name}}</p>
                    </td>
                    <td class="align-middle">
                        <div class="practice-challenge-description">
                            {{c.description}}
                        </div>

                        <div *ngIf="c.tags?.length" class="practice-challenge-tags mt-2">
                            <ul class="d-flex align-items-center flex-wrap">
                                <li *ngFor="let tag of c.tags" class="d-block mr-1">
                                    <a [routerLink]="['/practice']" [queryParams]="{ term: tag }">
                                        <app-colored-text-chip colorMode="monochrome" size="small"
                                            [text]="tag"></app-colored-text-chip>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <app-game-card-image [game]="{ id: c.gameId, name: c.gameName, logo: c.gameLogo }"
                                width="32px"></app-game-card-image>
                            <div class="ml-2">{{c.gameName}}</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <app-pager *ngIf="count > 0" display="always" [skip]="skip || 0" [take]="take || 0" [count]="count"
            (changed)="paged($event)">
        </app-pager>
    </ng-container>
</div>

<ng-template #loading>
    <div class="text-center">
        <app-spinner>Loading practice challenges...</app-spinner>
    </div>
</ng-template>

<ng-template #challengeNameNoLink let-challengeName="challengeName">
    <p>{{challengeName}}</p>
</ng-template>

<ng-template #noMatches>
    <div class="text-center mt-5">
        No challenges meet your search criteria. Try again with a new search term.
    </div>
</ng-template>
