<div class="gb-button-group btn-group mb-3">
    <button type="button" class="btn btn-info" (click)="observeBy = 'challenge'"
        [disabled]="observeBy == 'challenge'">Challenges</button>
    <button type="button" class="btn btn-info" (click)="observeBy = 'team'"
        [disabled]="observeBy == 'team'">Teams</button>
</div>

<div class="observe-container">
    <app-challenge-observer *ngIf="observeBy == 'challenge'" [gameId]="gameId"></app-challenge-observer>
    <app-team-observer *ngIf="observeBy == 'team'" [gameId]="gameId"></app-team-observer>
</div>
