<div class="container">
    <a class="btn btn-link" [routerLink]="profileUrl">
        <fa-icon [icon]="fa.arrowLeft"></fa-icon>
        <span>Back to your profile</span>
    </a>

    <div class="certificates-container mt-4">
        <h2>Certificates</h2>

        <p>
            Use the tabs below to find and print certificates which commemorate your performance in Gameboard. You can
            also save them as PDFs for the ultimate in digital cybersecurity swag.
        </p>

        <ul class="nav nav-tabs mt-5" *ngIf="showTabs">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['competitive']" routerLinkActive="active">Competitive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['practice']" routerLinkActive="active">Practice</a>
            </li>
        </ul>

        <div class="router-outlet-container px-2">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>
