<alert type="danger" *ngIf="errors.length" [dismissible]="true">
    <ul>
        <li *ngFor="let error of errors">{{ errors }}</li>
    </ul>
</alert>

<alert type="warning" *ngIf="game && (results?.namesPendingApproval || 0) > 0 && !!!filterSettings.hasPendingNames">
    There are {{results?.namesPendingApproval}} {{ "player" | pluralizer:results?.namesPendingApproval}} in this game
    who have pending name change requests. Click
    <span class="btn-link" (click)="handlePendingNamesClick(game.id)">here</span>
    to review them.
</alert>

<div *ngIf="game" class="controls-container d-flex align-items-center mb-3">
    <button class="d-block btn btn-success" (click)="handleSelectAll()" [disabled]="!results?.teams?.items?.length">
        <fa-icon [icon]="fa.checkSquare"></fa-icon>
        Select All {{ (game.isTeamGame ? "Team" : "Player") | pluralizer }}
    </button>
    <div class="flex-grow-1"></div>
    <app-confirm-button btnClass="btn btn-warning mr-2" *appIfHasPermission="'Scores_RegradeAndRerank'"
        (confirm)="handleRerankClick(game.id)"
        tooltip="Force a manual recalculation of the scores for this game">Rerank</app-confirm-button>
    <div class="gb-button-group btn-group mr-2">
        <button type="button" class="btn btn-success" disabled="disabled">
            {{ selectedTeamIds.length ? selectedTeamIds.length : "All" }}
            {{ game.isTeamGame ? "Team" : "Player" }}{{ selectedTeamIds.length === 1 ? "" : "s" }}
        </button>

        <button type="button" class="btn btn-success"
            tooltip="Advance selected {{ game.isTeamGame ? 'teams' : 'players' }}" [disabled]="!selectedTeamIds.length"
            (click)="handleConfirmAdvanceTeams()">
            <fa-icon [icon]="fa.circleArrowUp"></fa-icon>
        </button>

        <button type="button" class="btn btn-success"
            tooltip="Deploy game resources for {{ selectedTeamIds.length ? 'selected' : 'all' }}"
            [disabled]="!results?.teams?.items?.length" (click)="handleConfirmDeployGameResources()">
            <fa-icon [icon]="fa.computer"></fa-icon>
        </button>

        <button type="button" class="btn btn-success"
            tooltip="Extend Sessions {{ selectedTeamIds.length ? '' : ' (select teams to extend)'}}"
            (click)="handleExtendClick(selectedTeamIds )" [disabled]="!selectedTeamIds.length">
            <fa-icon [icon]="fa.clock"></fa-icon>
        </button>

        <button type="button" class="btn btn-success" tooltip="Copy all players to CSV"
            (click)="handleExportCsvData(selectedTeamIds)">
            <fa-icon [icon]="fa.fileCsv"></fa-icon>
        </button>

        <button type="button" class="btn btn-success"
            tooltip="Copy all {{ game.isTeamGame ? 'teams' : 'players' }} to mail format"
            (click)="handleExportMailMetaData()">
            <fa-icon [icon]="fa.envelope"></fa-icon>
        </button>
    </div>

    <button *appIfHasPermission="'Teams_Enroll'" type="button" class="btn btn-success"
        (click)="handlePlayerAddClick(game)">
        <fa-icon [icon]="fa.plus"></fa-icon>
        Add {{ game.isTeamGame ? "Team" : "Player" }} </button>
</div>

<div class="filters-container mb-4">
    <div class="mb-2">
        <input type="text" class="form-control" minlength="2"
            placeholder="Search {{ game?.isTeamGame ? 'teams' : 'players' }}" [(ngModel)]="filterSettings.searchTerm"
            (input)="searchInput$.next($event)" class="form-control flex-grow-1">
    </div>

    <div class="select-flex d-flex align-items-center">
        <select class="form-control" [(ngModel)]="filterSettings.advancement" (change)="load()">
            <option [ngValue]="undefined">[Any advancement]</option>
            <option value="advancedFromPreviousGame">Advanced from a previous game</option>
            <option value="advancedToNextGame">Advanced to next game</option>
        </select>

        <select class="form-control ml-2" [(ngModel)]="filterSettings.sessionStatus" (change)="load()">
            <option [ngValue]="undefined">[Any status]</option>
            <option value="complete">Finished</option>
            <option value="playing">Playing now</option>
            <option value="notStarted">Not Started</option>
        </select>

        <select [(ngModel)]="filterSettings.hasPendingNames" (change)="load()" class="form-control ml-2">
            <option [ngValue]="undefined">[Any pending names]</option>
            <option [ngValue]="true">Yes</option>
            <option [ngValue]="false">No</option>
        </select>

        <select [(ngModel)]="filterSettings.sort" (change)="load()" class="form-control ml-2">
            <option value="rank">Sort by rank</option>
            <option value="name">Sort by name</option>
            <option value="timeSinceStart">Sort by start time</option>
            <option value="timeRemaining">Sort by time remaining</option>
        </select>
    </div>

    <div *ngIf="hasFilters" class="mt-2 cursor-pointer">
        <alert type="warning" role="alert" *ngIf="hasFilters" (click)="handleClearAllFilters()">
            <strong>{{ results?.teams?.paging?.itemCount || 0 }}</strong>
            {{this.game?.isTeamGame ? "team(s)" : "player(s)" }}
            match your filter settings. Click here to clear your filters and see all enrolled competitors.
        </alert>
    </div>
</div>

<ng-container *ngIf="!isLoading || !results || !game; else loading">
    <ul *ngIf="results?.teams?.items?.length; else noMatches">
        <li *ngFor="let team of results?.teams?.items">
            <app-team-list-card [team]="team" (teamClicked)="handleTeamClick($event)"
                [selected]="team.id | arrayContains:selectedTeamIds" (teamSelected)="handleTeamSelected($event)">
                <div primaryDetail>
                    <div class="font-weight-bold" [class.cursor-pointer]="team.score.totalScore > 0"
                        (click)="team.score.totalScore > 0 && handleTeamScoreClick(team.id)">
                        <div [class.text-dashed-underline]="team.score | scoreToTooltip">
                            {{ team.score.totalScore }} points
                        </div>

                        <div *ngIf="team.session.timeCumulativeMs" class="text-muted">
                            {{ team.session.timeCumulativeMs | msToDuration }}
                        </div>
                    </div>

                    <div *ngIf="team.score.totalScore > 0" class="text-muted">
                        ({{ team.challengesCompleteCount }} complete / {{ team.challengesPartialCount }}
                        partial)
                    </div>
                </div>

                <div secondaryDetail>
                    <ng-container *ngIf="team.session.start && team.session.end | epochMsToDateTime | datetimeIsFuture">
                        <div>Playing now</div>
                        <strong class="text-success d-block"
                            [tooltip]="'Ends ' + (team.session.end | epochMsToDateTime | friendlyDateAndTime) || ''">{{
                            team.session.end | epochMsToDateTime | datetimeToDate | dateToCountdown:120000 | async
                            }}</strong>
                        <div class="fs-08 text-muted">remaining</div>
                    </ng-container>

                    <ng-container *ngIf="!team.session.start">
                        <div class="text-muted">Not playing yet</div>

                        <span *ngIf="!team.session.start">
                            (Registered <strong class="text-info"
                                [tooltip]="(team.registeredOn | epochMsToDateTime | friendlyDateAndTime) || ''">{{
                                team.registeredOn | epochMsToDateTime |
                                shortdate }}</strong>)
                        </span>
                    </ng-container>

                    <ng-container *ngIf="team.session.end | epochMsToDateTime | dateTimeIsPast">
                        <div>
                            Finished
                            <strong class="text-danger"
                                [tooltip]="(team.session.end | epochMsToDateTime | friendlyDateAndTime) || ''">
                                {{ team.session.end | epochMsToDateTime | shortdate }}
                            </strong>
                        </div>
                    </ng-container>
                </div>

                <div contextMenu>
                    <app-game-center-team-context-menu *ngIf="game" (error)="handleContextMenuError($event)"
                        [team]="team"
                        [game]="{ id: game.id, name: game.name, endsOn: ((game.gameEnd | dateToDateTime) || undefined), isSyncStart: game.requireSynchronizedStart, maxTeamSize: game.maxTeamSize }"
                        (teamUpdated)="load()"></app-game-center-team-context-menu>
                </div>
            </app-team-list-card>
        </li>
    </ul>
</ng-container>

<ng-template #playerAvatar let-player>
    <app-avatar [imageUrl]="player.sponsor | sponsorToLogoUri" size="tiny">
        <div avatarTooltip>
            <div>{{player.name}}</div>
            <div class="text-muted">
                {{player.sponsor.name}}
            </div>
        </div>
    </app-avatar>
</ng-template>

<ng-template #noMatches>
    <p class="my-2 text-muted text-center">
        No {{ (game?.isTeamGame ? "team" : "player") | pluralizer }} match your search.
    </p>
</ng-template>

<ng-template #loading>
    <app-spinner>{{ (game?.isTeamGame ? "team" : "player") | pluralizer }}...</app-spinner>
</ng-template>
