<div class="select-pager-component d-flex align-items-center" [hidden]="pages.length <= 1">
    <button type="button" class="btn btn-outline-info pager-button mr-1" [disabled]="pageNumber == 0"
        (click)="setPageNumber(0)">⇇</button>
    <button type="button" class="btn btn-outline-info pager-button" [disabled]="pageNumber == 0"
        (click)="setPageNumber(pageNumber - 1)">←</button>
    <div class="input-group mx-1">
        <select class="form-control" [(ngModel)]="pageNumber" (ngModelChange)="setPageNumber(pageNumber)">
            <option *ngFor="let pageNum of pages" [ngValue]="pageNum">{{ pageNum + 1 }}</option>
        </select>
    </div>
    <button type="button" class="btn btn-outline-info pager-button" [disabled]="pageNumber == pages.length - 1"
        (click)="setPageNumber(pageNumber + 1)">→</button>
    <button type="button" class="btn btn-outline-info pager-button ml-1" [disabled]="pageNumber == pages.length - 1"
        (click)="setPageNumber(this.pages.length - 1)">⇉</button>
</div>
