<div class="external-game-admin-component py-2" *ngIf="ctx; else loading">
    <h2 class="text-upper fs-10 m-0 p-0">Deployment</h2>
    <h1>{{ctx.game.name}}</h1>
    <h3 class="sync-session-date fs-12" *ngIf="sessionDateDescription">
        {{sessionDateDescription}}
    </h3>

    <hr class="light" />

    <div class="w-100">
        <app-error-div [errors]="errors"></app-error-div>

        <div *ngIf="ctx.teams.length" class="global-controls-container my-2 d-flex">
            <div class="flex-grow-1 sync-start-description"
                [innerHTML]="ctx | syncStartGameStateDescription | markdown"></div>

            <app-confirm-button btnClass="btn btn-lg btn-info" [disabled]="!canDeploy"
                (confirm)="handlePreDeployAllClick(ctx.game.id)"
                [tooltip]="ctx.overallDeployStatus == 'deploying' ? 'Resources are being deployed for this game. Hang tight...' : ''">
                Deploy All
            </app-confirm-button>
        </div>

        <alert *ngIf="ctx.startTime && ctx.hasNonStandardSessionWindow" type="warning" class="my-4">
            <h3>Warning</h3>

            <p>
                This game has been deployed and started, but there are multiple "start" and "end" dates
                among challenges and player sessions. If you see this and haven't manually extended
                someone's session, there may be an issue.
            </p>
        </alert>

        <div *ngIf="ctx.teams.length; else noTeams"
            class="teams-data-container my-4 d-flex flex-wrap justify-content-start">
            <div *ngFor="let team of ctx.teams" class="card team-card mr-2 mb-2">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title flex-grow w-100">
                            {{team.name}}
                            <span *ngIf="team.isReady" class="ml-2 mb-2 badge badge-info">Ready</span>
                        </h4>
                        <app-deployment-admin-team-context-menu class="d-block" [team]="team" [isReady]="team.isReady"
                            (teamReadyStateToggled)="handleTeamReadyStateChanged(team.id)"></app-deployment-admin-team-context-menu>
                    </div>

                    <div class="card-text mb-4">
                        <div class="card-section">
                            <h5 class="mb-3">
                                Players
                                <span class="player-count">({{ team.players | syncStartTeamPlayerReadyCount }}
                                    ready)</span>
                            </h5>

                            <ul class="player-list">
                                <li *ngFor="let player of team.players" class="d-flex align-items-center w-100">
                                    <app-player-avatar [player]="player" size="tiny"></app-player-avatar>
                                    <app-status-light class="pb-1"
                                        [state]="player.status | externalGamePlayerStatusToStatusLight"
                                        [tooltip]="player.status | externalGamePlayerStatusToFriendly"></app-status-light>
                                    <div class="flex-grow-1 pb-1">{{player.name}}</div>
                                    <app-external-game-admin-player-context-menu
                                        (playerReadyStateChanged)="handlePlayerReadyStateChanged($event.playerId)"
                                        [player]="{ id: player.id, name: player.name, isSyncStartReady: player.status == 'ready'}"></app-external-game-admin-player-context-menu>
                                </li>
                            </ul>
                        </div>

                        <div class="card-section">
                            <h5>Challenges</h5>

                            <table class="w-100">
                                <col>
                                <col>
                                <col>
                                <col>

                                <thead class="thead-light">
                                    <tr>
                                        <th></th>
                                        <th class="text-center">Created</th>
                                        <th class="text-center">Deployed</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let spec of ctx.specs">
                                        <td>
                                            <span>{{spec.name}}</span>
                                        </td>
                                        <td class="text-center">
                                            <span
                                                [class.not-deployed]="!(spec.id | externalSpecIdToChallenge:team.challenges)!.challengeCreated"
                                                [class.text-info]="(spec.id | externalSpecIdToChallenge:team.challenges)!.challengeCreated">
                                                {{((spec.id |
                                                externalSpecIdToChallenge:team.challenges)!.challengeCreated ? "Yes" :
                                                "No")}}
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <span
                                                [class.not-deployed]="!(spec.id | externalSpecIdToChallenge:team.challenges)!.gamespaceDeployed"
                                                [class.text-info]="(spec.id | externalSpecIdToChallenge:team.challenges)!.gamespaceDeployed">
                                                {{((spec.id |
                                                externalSpecIdToChallenge:team.challenges)!.gamespaceDeployed
                                                ? "Yes" : "No")}}
                                            </span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-dark p-1 challenge-button" *ngIf="(spec.id |
                                                externalSpecIdToChallenge:team.challenges)!.challengeCreated"
                                                [appCopyOnClick]="(spec.id | externalSpecIdToChallenge:team.challenges)?.id">
                                                <fa-icon [icon]="fa.copy" size="sm"
                                                    [tooltip]="(spec.id | externalSpecIdToChallenge:team.challenges)?.id ? 'Copy this challenge ID to your clipboard' : ''"></fa-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="card-section" *ngIf="team.externalGameHostUrl">
                            <h5>Game Host URL</h5>

                            <div class="cursor-pointer text-info"
                                tooltip="Copy this team's external host URL to your clipboard"
                                [appCopyOnClick]="team.externalGameHostUrl"
                                appCopyOnClickMessage="Copied this team's external host URL to your clipboard.">
                                {{team.externalGameHostUrl}}
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-info"
                        [disabled]="(team.deployStatus != 'notStarted' && team.deployStatus != 'partiallyDeployed') || !canDeploy"
                        (click)="handlePreDeployTeamClick(ctx.game.id, team.id)">Deploy</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noChallenges>
    <em>No challenges deployed</em>
</ng-template>

<ng-template #noTeams>
    <div class="text-center my-4">
        <em>No players or teams are currently enrolled in this game.</em>
    </div>
</ng-template>

<ng-template #loading>
    <div class="w-100 d-flex align-items-center justify-content-center">
        <app-spinner textPosition="bottom">
            Loading game data...
        </app-spinner>
    </div>
</ng-template>
