<div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn ctx-menu-button rounded-circle"
        aria-controls="dropdown-basic">
        <fa-icon [icon]="fa.ellipsisVertical" size="2x"></fa-icon>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem">
            <button class="dropdown-item btn" (click)="onViewRequest.emit(player)">
                {{ isViewing ? "Collapse" : "View" }}
            </button>
        </li>
        <li role="menuitem">
            <button class="dropdown-item btn" (click)="copy(player.id, 'player ID')">Copy Player ID</button>
        </li>
        <li role="menuitem">
            <button class="dropdown-item btn" (click)="copy(player.teamId, 'team ID')">Copy Team ID</button>
        </li>
        <li role="menuitem">
            <button class="dropdown-item btn" (click)="onBonusManageRequest.emit(player)">
                Manual Bonuses
            </button>
        </li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem" *ngIf="isSyncStartGame">
            <button class="dropdown-item btn btn-warning">
                {{ player.isReady ? "Unready" : "Ready" }} {{ player.approvedName }}
            </button>
        </li>
        <li role="menuitem" *ngIf="isResettingSession; else unenroll">
            <button class="dropdown-item btn btn-danger"
                (click)="onSessionResetRequest.emit({ player, unenrollTeam: false})">
                Reset Session
            </button>

            <button class="dropdown-item btn btn-danger"
                (click)="onSessionResetRequest.emit({ player, unenrollTeam: true})">
                Reset Session &amp; Unenroll
            </button>
        </li>
        <ng-template #unenroll>
            <li role="menuitem">
                <button type="button" class="dropdown-item btn btn-danger"
                    (click)="onUnenrollRequest.emit(player)">Unenroll</button>
            </li>
        </ng-template>
    </ul>
</div>
