<div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn ctx-menu-button rounded-circle"
        aria-controls="dropdown-basic">
        <fa-icon [icon]="fa.ellipsisVertical" size="2x"></fa-icon>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem">
            <button class="dropdown-item btn" (click)="viewRequest.emit(player)">
                {{ isViewing ? "Collapse" : "View" }}
            </button>
        </li>
        <li role="menuitem">
            <button class="dropdown-item btn" (click)="copy(player.id, 'player ID')">Copy Player ID</button>
        </li>
        <li role="menuitem">
            <button class="dropdown-item btn" (click)="copy(player.teamId, 'team ID')">Copy Team ID</button>
        </li>
        <li role="menuitem">
            <button class="dropdown-item btn" (click)="bonusManageRequest.emit(player)">
                Manual Bonuses
            </button>
        </li>
        <ng-container *ngIf="!isSyncStartGame || !hasStartedSession">
            <li class="divider dropdown-divider"></li>
            <li role="menuitem" *ngIf="!hasStartedSession">
                <button class="dropdown-item btn btn-warning" (click)="handleDeployResources(player)">
                    <strong>Deploy</strong> Game Resources
                    <span class="badge badge-warn">[ALPHA]</span>
                </button>
            </li>

            <li role="menuitem" *ngIf="!isSyncStartGame; else syncStartGameItems">
                <button class="dropdown-item btn btn-warning" (click)="handleStartSession(player)">
                    Start <strong>{{ player.approvedName }}</strong>'s Session
                </button>
            </li>

            <li *ngIf="isSyncStartGame && !hasStartedSession">
                <button class="dropdown-item btn btn-warning" [disabled]="hasStartedSession"
                    (click)="handleUpdatePlayerReady(player, !player.isReady)">
                    <strong>
                        {{ player.isReady ? "Unready" : "Ready" }}
                        {{ player.approvedName }}
                    </strong>
                </button>
            </li>
        </ng-container>
        <li class="divider dropdown-divider"></li>
        <ng-container *ngIf="isResettingSession; else unenroll">
            <li role="menuitem">
                <button class="dropdown-item btn btn-danger"
                    (click)="sessionResetRequest.emit({ player, resetType: 'preserveChallenges' })">
                    Reset Session (Preserve Challenges)
                </button>
            </li>

            <li role="menuitem">
                <button class="dropdown-item btn btn-danger"
                    (click)="sessionResetRequest.emit({ player, resetType: 'archiveChallenges' })">
                    Reset Session
                </button>
            </li>

            <li role="menuitem">
                <button class="dropdown-item btn btn-danger"
                    (click)="sessionResetRequest.emit({ player, resetType: 'unenrollAndArchiveChallenges' })">
                    Reset Session &amp; Unenroll
                </button>
            </li>
        </ng-container>
    </ul>
</div>

<ng-template #syncStartGameItems>
</ng-template>

<ng-template #unenroll>
    <li role="menuitem">
        <button type="button" class="dropdown-item btn btn-danger"
            (click)="sessionResetRequest.emit({ player, resetType: 'unenrollAndArchiveChallenges' })">Unenroll</button>
    </li>
</ng-template>
