@use "sass:color";
@use "sass:map";
@use "variables";

// Darkly 4.3.1
// Bootswatch

// Navbar ======================================================================

.bg-primary {
  .navbar-nav .active > .nav-link {
    color: variables.$success !important;
  }
}

.bg-light {
  &.navbar {
    background-color: variables.$success !important;
  }

  &.navbar-light .navbar-nav {
    .nav-link:focus,
    .nav-link:hover,
    .active > .nav-link {
      color: variables.$primary !important;
    }
  }
}

// Buttons =====================================================================

// Typography ==================================================================

.blockquote {
  &-footer {
    color: variables.$gray-600;
  }
}

// Tables ======================================================================

.table {
  &-primary {
    &,
    > th,
    > td {
      background-color: variables.$primary;
    }
  }

  &-secondary {
    &,
    > th,
    > td {
      background-color: variables.$secondary;
    }
  }

  &-light {
    &,
    > th,
    > td {
      background-color: variables.$light;
    }
  }

  &-dark {
    &,
    > th,
    > td {
      background-color: variables.$dark;
    }
  }

  &-success {
    &,
    > th,
    > td {
      background-color: variables.$success;
    }
  }

  &-info {
    &,
    > th,
    > td {
      background-color: variables.$info;
    }
  }

  &-danger {
    &,
    > th,
    > td {
      background-color: variables.$danger;
    }
  }

  &-warning {
    &,
    > th,
    > td {
      background-color: variables.$warning;
    }
  }

  &-active {
    &,
    > th,
    > td {
      background-color: variables.$table-active-bg;
    }
  }

  &-hover {
    .table-primary:hover {
      &,
      > th,
      > td {
        background-color: color.adjust(variables.$primary, $lightness: -5%);
      }
    }

    .table-secondary:hover {
      &,
      > th,
      > td {
        background-color: color.adjust(variables.$secondary, $lightness: -5%);
      }
    }

    .table-light:hover {
      &,
      > th,
      > td {
        background-color: color.adjust(variables.$light, $lightness: -5%);
      }
    }

    .table-dark:hover {
      &,
      > th,
      > td {
        background-color: color.adjust(variables.$dark, $lightness: -5%);
      }
    }

    .table-success:hover {
      &,
      > th,
      > td {
        background-color: color.adjust(variables.$success, $lightness: -5%);
      }
    }

    .table-info:hover {
      &,
      > th,
      > td {
        background-color: color.adjust(variables.$info, $lightness: -5%);
      }
    }

    .table-danger:hover {
      &,
      > th,
      > td {
        background-color: color.adjust(variables.$danger, $lightness: -5%);
      }
    }

    .table-warning:hover {
      &,
      > th,
      > td {
        background-color: color.adjust(variables.$warning, $lightness: -5%);
      }
    }

    .table-active:hover {
      &,
      > th,
      > td {
        background-color: variables.$table-active-bg;
      }
    }
  }
}

// Forms =======================================================================

.input-group-addon {
  color: #fff;
}

// Navs ========================================================================

.nav-tabs,
.nav-pills {
  .nav-link,
  .nav-link.active,
  .nav-link.active:focus,
  .nav-link.active:hover,
  .nav-item.open .nav-link,
  .nav-item.open .nav-link:focus,
  .nav-item.open .nav-link:hover {
    color: #fff;
  }
}

.breadcrumb a {
  color: #fff;
}

.pagination {
  a:hover {
    text-decoration: none;
  }
}

// Indicators ==================================================================

.close {
  opacity: 0.4;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.alert {
  border: none;
  color: variables.$white;

  a,
  .alert-link {
    color: #fff;
    text-decoration: underline;
  }

  @each $color, $value in variables.$theme-colors {
    &-#{$color} {
      @if variables.$enable-gradients {
        background: $value
          linear-gradient(180deg, mix(variables.$white, $value, 15%), $value)
          repeat-x;
      } @else {
        background-color: $value;
      }
    }
  }
}

// Progress bars ===============================================================

// Containers ==================================================================

.list-group-item-action {
  color: #fff;

  &:hover,
  &:focus {
    background-color: variables.$gray-900;
    color: #fff;
  }

  .list-group-item-heading {
    color: #fff;
  }
}
