::ng-deep {
  .markdown-body-content ul li {
    list-style-type: square;
    list-style-position: inside;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .markdown-body-content ol {
    padding-left: 1rem;
  }
}
